<div id="q-access-security" class="question">
  <h3>6. How will data security and protection of sensitive data be taken care of during the research?</h3>

  <div class="answer">
    {%- set risksPathPrefix = [uuids.processingCUuid, uuids.risksQUuid, uuids.risksExploreAUuid]|reply_path -%}
    {# Basic risks #}
    {%- set risksStoreLabPath = [risksPathPrefix, uuids.risksStoreLabQUuid]|reply_path -%}
    {%- set risksStoreLabAUuid = repliesMap[risksStoreLabPath]|reply_str_value -%}
    {%- set risksCarryHomePath = [risksPathPrefix, uuids.risksCarryHomeQUuid]|reply_path -%}
    {%- set risksCarryHomeAUuid = repliesMap[risksCarryHomePath]|reply_str_value -%}
    {%- set risksCarryHomeEncPath = [risksCarryHomePath, uuids.risksCarryHomeYesAUuid, uuids.risksCarryHomeEncQUuid]|reply_path -%}
    {%- set risksCarryHomeEncAUuid = repliesMap[risksCarryHomeEncPath]|reply_str_value -%}
    {%- set risksCarryHomePassPath = [risksCarryHomePath, uuids.risksCarryHomeYesAUuid, uuids.risksCarryHomePassQUuid]|reply_path -%}
    {%- set risksCarryHomePassAUuid = repliesMap[risksCarryHomePassPath]|reply_str_value -%}
    {%- set risksCertificationsPath = [risksPathPrefix, uuids.risksCertificationsQUuid]|reply_path -%}
    {%- set risksCertificationsAUuid = repliesMap[risksCertificationsPath]|reply_str_value -%}
    {%- set risksHttpsPath = [risksPathPrefix, uuids.risksHttpsQUuid]|reply_path -%}
    {%- set risksHttpsAUuid = repliesMap[risksHttpsPath]|reply_str_value -%}
    {%- set risksInstructedPath = [risksPathPrefix, uuids.risksInstructedQUuid]|reply_path -%}
    {%- set risksInstructedAUuid = repliesMap[risksInstructedPath]|reply_str_value -%}

    {%- set homeEncrypted = risksCarryHomeEncAUuid == uuids.risksCarryHomeEncYesAUuid -%}
    {%- set homePassword = risksCarryHomePassAUuid == uuids.risksCarryHomePassYesAUuid -%}
    {%- set storeLab = risksStoreLabAUuid == uuids.risksStoreLabNoAUuid -%}

    {%- if storeLab or (risksCarryHomeAUuid == uuids.risksCarryHomeNoAUuid) or (risksCarryHomeAUuid == uuids.risksCarryHomeYesAUuid and (homeEncrypted or homePassword)) or (risksCertificationsAUuid == uuids.risksCertificationsYesAUuid) or (risksHttpsAUuid == uuids.risksHttpsYesAUuid) or (risksInstructedAUuid == uuids.risksInstructedYesAUuid) %}
      <p>
        {%- if storeLab %}
          Project members will not store data or software on computers in the lab or external hard drives connected to those computers.{{" "}}
        {%- endif -%}
        {%- if risksCarryHomeAUuid == uuids.risksCarryHomeNoAUuid %}
          {%- if storeLab -%}They{%- else -%}Project members{%- endif %} will not carry data with them (e.g. on laptops, USB sticks, or other external media).
        {%- elif homeEncrypted and homePassword %}
          {%- if storeLab -%}They{%- else -%}Project members{%- endif %} can carry data with them on encrypted data carriers and password-protected laptops.
        {%- elif homeEncrypted %}
          {%- if storeLab -%}They{%- else -%}Project members{%- endif %} can carry data with them on encrypted data carriers.
        {%- elif homePassword %}
          {%- if storeLab -%}They{%- else -%}Project members{%- endif %} can carry data with them on password-protected laptops.
        {%- endif -%}
        {%- if risksCertificationsAUuid == uuids.risksCertificationsYesAUuid %}
          All data centers where project data is stored hold appropriate certifications.
        {%- endif -%}
        {%- if risksHttpsAUuid == uuids.risksHttpsYesAUuid %}
          All project web services are accessible via secure HTTP (https://...).
        {%- endif -%}
        {%- if risksInstructedAUuid == uuids.risksInstructedYesAUuid %}
          Project members have been instructed about both generic and specific risks to the project.
        {%- endif -%}
      </p>
    {%- endif -%}
    {# Information loss, leak, and vandalism #}
    {%- set risksInfoLossPath = [risksPathPrefix, uuids.risksInfoLossQUuid]|reply_path -%}
    {%- set risksInfoLossAUuid = repliesMap[risksInfoLossPath]|reply_str_value -%}
    {%- set risksInfoLeakPath = [risksPathPrefix, uuids.risksInfoLeakQUuid]|reply_path -%}
    {%- set risksInfoLeakAUuid = repliesMap[risksInfoLeakPath]|reply_str_value -%}
    {%- set risksInfoVandalismPath = [risksPathPrefix, uuids.risksInfoVandalismQUuid]|reply_path -%}
    {%- set risksInfoVandalismAUuid = repliesMap[risksInfoVandalismPath]|reply_str_value -%}

    {# Define mapping of UUIDs to qualitative levels #}
    {%- set risk_levels = {
      uuids.risksInfoLossSmallAUuid: 'small',
      uuids.risksInfoLossLowAUuid: 'low',
      uuids.risksInfoLossWillAUuid: 'will',
      uuids.risksInfoLeakSmallAUuid: 'small',
      uuids.risksInfoLeakLowAUuid: 'low',
      uuids.risksInfoLeakWillAUuid: 'will',
      uuids.risksInfoVandalismSmallAUuid: 'small',
      uuids.risksInfoVandalismLowAUuid: 'low',
      uuids.risksInfoVandalismWillAUuid: 'will'
    } -%}

    {# Extract selected levels for each type #}
    {%- set selected = {
      'loss': risk_levels[risksInfoLossAUuid],
      'leak': risk_levels[risksInfoLeakAUuid],
      'vandalism': risk_levels[risksInfoVandalismAUuid]
    } -%}

    {%- set small = [] -%}
    {%- set low = [] -%}
    {%- set will = [] -%}

    {# simple grouping in one pass #}
    {%- for key, level in selected.items() -%}
      {%- if level == 'small' -%}
        {%- do small.append(key) -%}
      {%- elif level == 'low' -%}
        {%- do low.append(key) -%}
      {%- elif level == 'will' -%}
        {%- do will.append(key) -%}
      {%- endif -%}
    {%- endfor -%}

    {# helper inline join) #}
    {%- set fragments = [] -%}
    {%- if small|length > 0 -%}
      {%- set risks = (small[:-1]|join(', ') ~ ', and ' ~ small[-1]) if small|length > 1 else small[0] -%}
      {%- set _ = fragments.append("The possible impact of information " ~ risks ~ " is small") -%}
    {%- endif -%}
    {%- if low|length > 0 -%}
      {%- set risks = (low[:-1]|join(', ') ~ ', and ' ~ low[-1]) if low|length > 1 else low[0] -%}
      {%- set _ = fragments.append("The risk of information " ~ risks ~ " is acceptably low") -%}
    {%- endif -%}
    {%- if will|length > 0 -%}
      {%- set risks = (will[:-1]|join(', ') ~ ', and ' ~ will[-1]) if will|length > 1 else will[0] -%}
      {%- set _ = fragments.append("We will mitigate the risk of information " ~ risks) -%}
    {%- endif -%}
    <p>{{ fragments | join('. ') }}.</p>
    {# Personal data #}
    {%- set risksPersonalDataPath = [risksPathPrefix, uuids.risksPersonalDataQUuid]|reply_path -%}
    {%- set risksPersonalDataAUuid = repliesMap[risksPersonalDataPath]|reply_str_value -%}
    {%- if risksPersonalDataAUuid == uuids.risksPersonalDataNotUsingAUuid -%}
      <p>We are not using any personal information.</p>
    {%- elif risksPersonalDataAUuid == uuids.risksPersonalDataPseudoAUuid -%}
      <p>
        All personal information will be processed in pseudonymized form only.
        {%- set risksPseudonymizationPath = [risksPersonalDataPath, uuids.risksPersonalDataPseudoAUuid, uuids.risksPseudonymizationQUuid]|reply_path -%}
        {%- set risksPseudonymizationAUuid = repliesMap[risksPseudonymizationPath]|reply_str_value -%}
        {%- if risksPseudonymizationAUuid == uuids.risksPseudonymizationInsideAUuid %}
          We pseudonymize inside the project, only limited people can access the keys.
        {%- elif risksPseudonymizationAUuid == uuids.risksPseudonymizationPartyAUuid %}
          Pseudonymization is handled by an independent party in order to allow data coupling.
        {%- elif risksPseudonymizationAUuid == uuids.risksPseudonymizationAnotherAUuid -%}
          {%- set risksPseudonymizationAnotherQUuid = [risksPseudonymizationPath, uuids.risksPseudonymizationAnotherAUuid, uuids.risksPseudonymizationAnotherQUuid]|reply_path -%}
          {%- set risksPseudonymizationAnother = repliesMap[risksPseudonymizationAnotherQUuid]|reply_str_value %}
          We have a specific way of pseudonymization{{ ": " ~ risksPseudonymizationAnother|dot if risksPseudonymizationAnother else "." }}
        {%- endif -%}
      </p>
    {%- elif risksPersonalDataAUuid == uuids.risksPersonalDataAnonymousAUuid -%}
      <p>All personal data will be collected anonymously.</p>
    {%- elif risksPersonalDataAUuid == uuids.risksPersonalDataAnonymizedAUuid -%}
      <p>All personal data will be anonymized as early as possible.</p>
    {%- endif -%}
    

    {# Shared Workspace #}
    {%- set sharedWorkspaceQUuid = [uuids.processingCUuid, uuids.sharedWorkspaceQUuid]|reply_path -%}
    {%- set sharedWorkspaceReply = repliesMap[sharedWorkspaceQUuid]|reply_str_value  -%}
    {%- set sharedWorkspacePrefix = [uuids.processingCUuid, uuids.sharedWorkspaceQUuid, uuids.sharedWorkspaceYesAUuid]|reply_path -%}
    {%- set sharedWorkspaceReliableAUuid = [sharedWorkspacePrefix, uuids.sharedReliableQUuid, uuids.sharedReliableExploreAUuid ]|reply_path  -%}
    {%- set sharedWorkspaceReliablePreventLossQUuid = [sharedWorkspaceReliableAUuid, uuids.sharedReliablePreventLossQUuid]|reply_path  -%}
    {%- set sharedWorkspaceReliablePreventLossReply = repliesMap[sharedWorkspaceReliablePreventLossQUuid]|reply_str_value -%}
    {%- if sharedWorkspaceReply == uuids.sharedWorkspaceYesAUuid and sharedWorkspaceReliablePreventLossReply -%}
     <p>During the project we will use shared working space to work with our data{{+" "}}
      {%- if sharedWorkspaceReliablePreventLossReply == uuids.sharedReliablePreventLossSufficientAUuid  -%}
        that ensures the prevention of complete data loss.
      {%- elif sharedWorkspaceReliablePreventLossReply == uuids.sharedReliablePreventLossStoredAUuid -%}
        but we will store all essential data elsewhere.
      {%- endif -%}

      {%- set sharedWorkspaceReliableBackupQUuid = [sharedWorkspaceReliableAUuid, uuids.sharedReliableBackupQUuid]|reply_path -%}
      {%- set sharedWorkspaceReliableBackupReply = repliesMap[sharedWorkspaceReliableBackupQUuid]|reply_str_value  -%}
      {%- if sharedWorkspaceReliableBackupReply == uuids.sharedReliableBackupCopyAllSomewhereAUuid -%}
        {{+" "}}And all the data that are stores elsewhere is adequately backed up.
      {%- elif sharedWorkspaceReliableBackupReply == uuids.sharedReliableBackupCopyBackupsAUuid -%}
        {{+" "}}We make (automated) backups of all data stored outside of the working area.
      {%- endif -%}
     </p>

    {%- endif -%}

    {# Long term preservation and recovery #}
    {%- set preservingArchivedDuringQUuid = [uuids.preservingCUuid, uuids.archivedDuringQUuid]|reply_path -%}
    {%- set preservingArchivedDuringReply = repliesMap[preservingArchivedDuringQUuid]|reply_str_value -%}
    {%- if preservingArchivedDuringReply == uuids.archivedDuringYesAUuid -%}
      <p> We will be archiving data for long-term preservation already during our project.
      {%- set preservingArchivedDuringReQUuid = [preservingArchivedDuringQUuid, uuids.archivedDuringYesAUuid, uuids.archivedDuringReQUuid]|reply_path  -%}
      {%- set preservingArchivedDuringReReply = repliesMap[preservingArchivedDuringReQUuid]|reply_str_value -%}

      {%- if preservingArchivedDuringReReply == uuids.archivedDuringReYesAUuid -%}
        {{" "}}The archived data will be changing over time and needs re-archival.
        {%- set preservingArchivedDuringRelyQUuid = [preservingArchivedDuringReQUuid, uuids.archivedDuringReYesAUuid, uuids.archivedDuringRelyQUuid]|reply_path -%}
        {%- set preservingArchivedDuringRelyReply = repliesMap[preservingArchivedDuringRelyQUuid]|reply_str_value -%}
        {%- set archivedDuringReFrequentBackupsQUuid = [preservingArchivedDuringReQUuid, uuids.archivedDuringReYesAUuid, uuids.archivedDuringReFrequentBackupsQUuid]|reply_path-%}
        {%- set preservingArchivedDuringReFrequentBackupsReply = repliesMap[archivedDuringReFrequentBackupsQUuid]|reply_str_value -%}
          
        {%- if (preservingArchivedDuringReFrequentBackupsReply == uuids.archivedDuringReFrequentBackupsYesAUuid ) and (preservingArchivedDuringRelyReply == uuids.archivedDuringRelyYesAUuid) -%}
          {{" "}}This data needs frequent backups and we will rely on these backups in case of recovery from human errors.</p>
        {%- elif (preservingArchivedDuringReFrequentBackupsReply == uuids.archivedDuringReFrequentBackupsNoAUuid ) and (preservingArchivedDuringRelyReply == uuids.archivedDuringRelyYesAUuid )-%}
          {{" "}}This data will be infrequently backed up and we will rely on these backups in case of recovery from human errors.</p>
        {%- endif -%}

      {%- endif -%}
    {%- endif -%}

    {# Access control in shared workspace #}
    {%- set sharedAccessControlPath = [sharedWorkspacePrefix, uuids.sharedAccessControlQUuid]|reply_path -%}
    {%- set sharedAccessControlAUuid = repliesMap[sharedAccessControlPath]|reply_str_value -%}
    {%- if sharedAccessControlAUuid -%}
      <h4>Access to data during research</h4>
      {%- if sharedAccessControlAUuid == uuids.sharedAccessControlMembersRWAUuid -%}
        <p>Only all project members have read/write access to the data.</p>
      {%- elif sharedAccessControlAUuid == uuids.sharedAccessControlInstituteRAUuid -%}
        <p>Anyone in the institute has read access to the data; all project members have read/write access.</p>
      {%- elif sharedAccessControlAUuid == uuids.sharedAccessControlMembersRAUuid -%}
        <p>Only project members will have read access; only selected project members will be able to write data.</p>
      {%- elif sharedAccessControlAUuid == uuids.sharedAccessControlMembersRequestAUuid -%}
        <p>Anyone in the institute can read data, only project members can request write access.</p>
      {%- endif -%}
    {%- endif -%}

    {# Policies and Procedures for DMP #}
    {%- set policiesProceduresQUuid = [uuids.adminDetailsCUuid, uuids.policiesProceduresQUuid]|reply_path -%}
    {%- set policiesProceduresItems = repliesMap [policiesProceduresQUuid]|reply_items -%}
    {%- if policiesProceduresItems|length > 0 -%}
      <h4>Policies and Procedures</h4>
      <p> We will use following policies and procedures: </p>
      <ul>
        {%- for policiesProceduresItem in policiesProceduresItems -%}
          {%- set policiesProceduresPathPrefix =  [policiesProceduresQUuid, policiesProceduresItem ]|reply_path -%}
          <li>
            {%- set policiesProceduresItemNameQUuid = [policiesProceduresPathPrefix, uuids.policiesProceduresNameQUuid]|reply_path -%}
            {%- set policiesProceduresItemNameReply = repliesMap[policiesProceduresItemNameQUuid]|reply_str_value -%}
            {%- set policiesProceduresItemLinkQUuid = [policiesProceduresPathPrefix, uuids.policiesProceduresLinkQUuid]|reply_path  -%}
            {%- set policiesProceduresItemLinkReply = repliesMap[policiesProceduresItemLinkQUuid]|reply_str_value -%}
            {%- set policiesProceduresItemDescriptionQUuid = [policiesProceduresPathPrefix, uuids.policiesProceduresDescriptionQUuid]|reply_path -%}
            {%- set policiesProceduresItemDescriptionReply = repliesMap[policiesProceduresItemDescriptionQUuid]|reply_str_value  -%}
              {%- if policiesProceduresItemNameReply -%}
                <strong>{{ policiesProceduresItemNameReply }}</strong>
                {% if policiesProceduresItemLinkReply -%}<span class="separator">&ndash;</span>{%- endif %}
                {{policiesProceduresItemLinkReply}}

                {%- if policiesProceduresItemDescriptionReply -%}
                  <p> {{policiesProceduresItemDescriptionReply}} </p>
                {%- endif -%}

              {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>
