<div id="q-access-security" class="question">
    <h3>7. If personal data are processed, how will compliance with legislation on personal data and on security be ensured?</h3>

    <div class="answer">
        <p>Data security protection is described in Section 3, Question 6.</p>
        {%- set personalDataQUuid = [uuids.creatingCUuid,uuids.collectPersonalQUuid ]|reply_path -%}
        {%- set personalDataReply = repliesMap[personalDataQUuid]|reply_str_value -%}
        {%- if personalDataReply == uuids.collectPersonalYesAUuid -%}
            {%- set personalDataGDPRPath = [personalDataQUuid, uuids.collectPersonalYesAUuid, uuids.cpersGdprQUuid ]|reply_path -%}
            {%- set personalDataGDPRPathReply = repliesMap[personalDataGDPRPath]|reply_str_value -%}
            
            {%- if personalDataGDPRPathReply == uuids.cpersGdprExploreAUuid -%}
                {# Legal basis be4651c9-9a8c-4e10-a158-61b94ca0e139 #}
                {%- set personalDataLegalBasisQUuid = [personalDataGDPRPath, uuids.cpersGdprExploreAUuid, uuids.cpersGdprLegalBasisQUuid]|reply_path  -%}
                {%- set personalDataLegalBasisReply = repliesMap[personalDataLegalBasisQUuid]|reply_str_value -%}
                {%- if personalDataLegalBasisReply  -%}
                    <h4>Legal basis for collecting and processing personal data</h4>
                    <p> We are collecting and processing personal data{{+" "}}
                    {%- if personalDataLegalBasisReply == uuids.cpersGdprLegalBasisPublicAUuid -%}
                        based on public interest.</p>
                    {%- elif personalDataLegalBasisReply == uuids.cpersGdprLegalBasisAskAUuid -%}
                        based on subject's consent.</p>
                    {%- elif personalDataLegalBasisReply == uuids.cpersGdprLegalBasisOtherAUuid -%}
                        {%- set personalDataLegalBasisOtherQUuid = [personalDataLegalBasisQUuid, uuids.cpersGdprLegalBasisOtherAUuid, uuids. cpersGdprLegalBasisOtherWhichQUuid ]|reply_path -%}
                        {%- set personalDataLegalBasisOtherReply = repliesMap[personalDataLegalBasisOtherQUuid]|reply_str_value  -%}
                        {%- if personalDataLegalBasisOtherReply == uuids.cpersGdprLegalBasisOtherWhichContractAUui -%}
                            in order to fulfil contract.</p>
                        {%- elif personalDataLegalBasisOtherReply == uuids.cpersGdprLegalBasisOtherWhichLegitAUuid -%}
                            based on legitimate interest.</p>
                        {%- elif personalDataLegalBasisOtherReply == uuids.cpersGdprLegalBasisOtherWhichVitalAUuid -%}
                            based on vital interest.</p>
                        {%- elif personalDataLegalBasisOtherReply == uuids.cpersGdprLegalBasisOtherWhichLegalAUuid -%}
                            based on legal requirement.</p>
                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}

                {# Technical and procedural safeguards #}
                {%- set personalDataSafeguardsQUuid = [personalDataGDPRPath, uuids.cpersGdprExploreAUuid, uuids.cpersGdprSafeguardsQUuid]|reply_path -%}
                {%- set personalDataSafeguardReply = repliesMap[personalDataSafeguardsQUuid]|reply_str_value -%}

                {%- if personalDataSafeguardReply == uuids.cpersGdprSafeguardsAUuid -%}

                    <h4>Technical and procedural measures</h4>

                    {%- set personalDataSafeguardLvlIdentifQUuid = [personalDataSafeguardsQUuid, uuids.cpersGdprSafeguardsAUuid, uuids.cpersGdprSafeguardsIdentifQUuid]|reply_path -%}
                    {%- set personalDataSafeguardLvlIdentifReply = repliesMap[personalDataSafeguardLvlIdentifQUuid]|reply_str_value -%}

                    {%- if personalDataSafeguardLvlIdentifReply == uuids.cpersGdprSafeguardsIdentifAnonymAUuid -%}
                        <p>The stored data are irrevocably anonymised.</p>
                    {%- elif personalDataSafeguardLvlIdentifReply == uuids.cpersGdprSafeguardsIdentifPseudoAUuid -%}
                        <p>The stored data are psuedoanonymised.</p>
                    {%- elif personalDataSafeguardLvlIdentifReply == uuids.cpersGdprSafeguardsIdentifIdentifableAUuid -%}
                        <p>The stored data are identifiable.</p>
                    {%- endif -%}

                    {%- set personalDataSafeguardElaborateQUuid = [personalDataSafeguardsQUuid, uuids.cpersGdprSafeguardsAUuid, uuids.cpersGdprSafeguardElaborateQUuid ]|reply_path  -%}
                    {%- set personalDataSafeguardElaborateReply = repliesMap[personalDataSafeguardElaborateQUuid]|reply_str_value -%}
                    {%- if personalDataSafeguardElaborateReply -%}
                        <p>We will use the following technical and procesural safeguards : {{personalDataSafeguardElaborateReply|dot}}</p>
                   {%- endif -%}

                    {%- set personalDataSafeguardTransferQUuid = [personalDataSafeguardsQUuid, uuids.cpersGdprSafeguardsAUuid, uuids.cpersGdprSafeguardsTransferQUuid]|reply_path -%}
                    {%- set personalDataSafeguardTransferReply = repliesMap[personalDataSafeguardTransferQUuid]|reply_str_value -%}
                    {%- set personalDataSafeguardTransferMeasuresQUuid = [personalDataSafeguardTransferQUuid, uuids.cpersGdprSafeguardsTransferYesAUuid, uuids.cpersGdprSafeguardsTransferMeasuresQUuid]|reply_path -%}
                    {%- set personalDataSafeguardTransferMeasuresReply = repliesMap[personalDataSafeguardTransferMeasuresQUuid]|reply_str_value -%}

                    {%- if (personalDataSafeguardTransferReply == uuids.cpersGdprSafeguardsTransferYesAUuid) and (personalDataSafeguardTransferMeasuresReply) -%}
                        <p>We plan to transfer data outside the EU/EEA and these are measures we will place to protect data:
                        {{personalDataSafeguardTransferMeasuresReply|dot}}</p>
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
        {%- elif personalDataReply == uuids.collectPersonalNoAUuid -%}
        <p>We will not collect any data connected to a person.</p>
        {%- endif -%}

        {# Managed access procedure to personal data #}
        {%- set personalDataManagedAccessQUuid = [uuids.accessCUuid, uuids.openImmediatelyQUuid, uuids.openImmediatelyNoAUuid, uuids.notOpenLegalReasonsQUuid, uuids.notOpenLegalReasonsYesAUuid, uuids.notOpenLegalReasonsPrivacyQUuid, uuids.notOpenLegalReasonsPrivacyYesAUuid, uuids.notOpenLegalReasonsPrivacyAccessQUuid ]|reply_path -%}
        {%- set personalDataManagedAccessReply = repliesMap[personalDataManagedAccessQUuid]|reply_str_value -%}
        
        {%- if personalDataManagedAccessReply -%}
            <h4>Access procedure to personal data</h4>
            <p>There is a procedure for users to access private data as follows: {{personalDataManagedAccessReply}}</p>
        {%- endif -%}

    </div>
</div>