<div id="q-dm-responsible" class="question">
  <h3>14. Who (for example role, position, and institution) will be responsible for data management (i.e. the data steward)?</h3>

  <div class="answer">
    {# NOTE: Public questionnaires does not have "ctx.createdBy" filled #}
    {%- if ctx.createdBy %}
      <p>{{ctx.createdBy.firstName}} {{ctx.createdBy.lastName}} is responsible for implementing the DMP, and ensuring it is reviewed and revised.</p>
    {%- endif -%}

    {%- set contributorsPath = [uuids.adminDetailsCUuid, uuids.contributorsQUuid]|reply_path -%}
    {%- set contributorsItems = repliesMap[contributorsPath]|reply_items -%}
    {%- if contributorsItems|length > 0 -%}
      {%- macro contributorsResponsibility(contributors, contributorRoleAUuid, responsibility) -%}
        {%- set names = [] -%}
        {%- for i in contributors -%}
          {%- set roles = repliesMap[[contributorsPath, i, uuids.contributorRoleQUuid]|reply_path]|reply_items -%}
          {%- set name = repliesMap[[contributorsPath, i, uuids.contributorNameQUuid]|reply_path]|reply_str_value -%}
          {%- if contributorRoleAUuid in roles and name -%}
            {%- do names.append(name) -%}
          {%- endif -%}
        {%- endfor -%}
        {%- set nNames = names|length -%}
        {%- if nNames > 0 -%}
          <p>
            {%- if nNames > 2 -%}
              {{ names[0:-1]|join(", ") }}, and {{ names[-1] }} are {{ responsibility }}
            {%- elif nNames == 2 -%}
              {{ names[0] }} and {{ names[1] }} are {{ responsibility }}
            {%- else -%}
              {{ names[0] }} is {{ responsibility }}
            {%- endif %}
          </p>
        {%- endif -%}
      {%- endmacro -%}
      {# Data curators #}
      {{ contributorsResponsibility(contributorsItems, uuids.contributorRoleDataCuratorAUuid, "responsible for reviewing, enhancing, cleaning, or standardizing metadata and the associated data submitted for storage, use and maintenance within a data centre or repository.") }}
      {# Data collectors #}
      {{ contributorsResponsibility(contributorsItems, uuids.contributorRoleDataCollectorAUuid, "responsible for finding, gathering, and collecting data.") }}
      {# Data managers #}
      {{ contributorsResponsibility(contributorsItems, uuids.contributorRoleDataManagerAUuid, "responsible for maintaining the finished resource.") }}
      {# Data stewards #}
      {{ contributorsResponsibility(contributorsItems, uuids.contributorRoleDataStewardAUuid, "responsible for the management and proficiency of data including data processing, data policies, data guidelines, and data availability.") }}
      {# Distributors #}
      {{ contributorsResponsibility(contributorsItems, uuids.contributorRoleDistributorAUuid, "responsible for generating and disseminating copies of the resouce in either electronic or print form.") }}
      {# Data protection officers #}
      {{ contributorsResponsibility(contributorsItems, uuids.contributorRoleDataProtectorAUuid, "responsible for all issues relating to the protection of personal data and data protection policies in general.") }}
    {%- endif -%}
  </div>
</div>
