<div id="q-required-resources" class="question">
  <h3>15. What resources (for example financial and time) will be dedicated to data management and ensuring that data will be FAIR (Findable, Accessible, Interoperable, Re-usable)?</h3>

  <div class="answer">
    {# additional expertise #}
    {%- set expertisePath = [uuids.adminDetailsCUuid, uuids.additionalExpertiseQUuid]|reply_path -%}
    {%- set expertiseAUuid = repliesMap[expertisePath]|reply_str_value -%}
    {%- if expertiseAUuid == uuids.additionalExpertiseNoAUuid -%}
      <p>To execute the DMP, no additional specialist expertise is required.</p>
    {%- elif expertiseAUuid == uuids.additionalExpertiseYesAvailableAUuid -%}
      <p>To execute the DMP, additional specialist expertise is required and we have such trained support staff available.</p>
    {%- elif expertiseAUuid == uuids.additionalExpertiseYesTrainAUuid -%}
      <p>
        To execute the DMP, additional specialist expertise is required. We will be training existing staff.
        {%- set expertiseTrainPath = [expertisePath, uuids.additionalExpertiseYesTrainAUuid, uuids.additionalExpertiseYesTrainTrainingQUuid]|reply_path -%}
        {%- set expertiseTrainText = repliesMap[expertiseTrainPath]|reply_str_value -%}
        {%- if additionalExpertiseTrainText %}
          The training will be: {{ expertiseTrainText|dot }}
        {%- endif -%}
      </p>
    {%- elif expertiseAUuid == uuids.additionalExpertiseYesHireAUuid -%}
      <p>
        To execute the DMP, additional specialist expertise is required. We will be hiring new people with additional expertise.
        {%- set expertiseHirePath = [expertisePath, uuids.additionalExpertiseYesHireAUuid, uuids.additionalExpertiseYesHireExpertiseQUuid]|reply_path -%}
        {%- set expertiseHireText = repliesMap[expertiseHirePath]|reply_str_value -%}
        {%- if expertiseHireText %}
          The required expertise from new people is: {{ expertiseHireText|dot }}
        {%- endif -%}
      </p>
    {%- endif -%}
    {# additional hw/sw #}
    {%- set additionalHWSWPath = [uuids.adminDetailsCUuid, uuids.additionalHWSWQUuid]|reply_path -%}
    {%- set additionalHWSWAUuid = repliesMap[additionalHWSWPath]|reply_str_value -%}
    {%- if additionalHWSWAUuid == uuids.additionalHWSWNoAUuid -%}
      <p>We do not require any hardware or software in addition to what is usually available in the institute.</p>
    {%- elif additionalHWSWAUuid == uuids.additionalHWSWYesAUuid -%}
      {%- set additionalHWSWWhatPath = [additionalHWSWPath, uuids.additionalHWSWYesAUuid, uuids.additionalHWSWYesWhatQUuid]|reply_path -%}
      {%- set additionalHWSWWhat = repliesMap[additionalHWSWWhatPath]|reply_str_value -%}
      {%- if additionalHWSWWhat -%}
        <p>We require the following hardware or software in addition to what is usually available in the institute: {{ additionalHWSWWhat|dot }}</p>
      {%- else -%}
        <p>We require hardware or software in addition to what is usually available in the institute.</p>
      {%- endif -%}
    {%- endif -%}
    {# charges #}
    <p>Charges applied by data repositories (if any) are mentioned already in Section 4, Question 11.</p>
    {# costs #}
    {%- set projectPath = [uuids.adminDetailsCUuid, uuids.projectsQUuid]|reply_path -%}
    {%- set projectItems = repliesMap[projectPath]|reply_items -%}
    {%- if projectItems|length > 0 -%}
    <p>Following resources will be dedicated to data management and ensuring that data will be FAIR:</p>
    <ul>
        {%- for i in projectItems -%}
            {%- set projectItem = [projectPath, i]|reply_path -%}
            {%- set projectItemNameQUuid = [projectItem, uuids.projectNameQUuid]|reply_path -%}
            {%- set projectItemNameReply = repliesMap[projectItemNameQUuid]|reply_str_value -%}

            {%- set projectItemNumberQUuid = [projectItem, uuids.projectNumberQUuid]|reply_path -%}
            {%- set projectItemNumberReply = repliesMap[projectItemNumberQUuid]|reply_str_value -%}
            <li> 
                <strong>{{ projectItemNameReply if projectItemNameReply else "(no name given)" }}{{projectItemNumberReply}} </strong>

                {%- set projectCostPath = [projectItem, uuids.costQUuid]|reply_path -%}
                {%- set projectCostItems = repliesMap[projectCostPath]|reply_items -%}

                {%- if projectCostItems|length > 0  -%}
                    <ul>
                    {%- for j in projectCostItems -%}
                        {%- set projectCostItem = [projectCostPath, j]|reply_path -%}
                        {%- set projectCostItemTitleQUuid = [projectCostItem, uuids.costTitleQUuid]|reply_path -%}
                        {%- set projectCostItemTitleReply = repliesMap[projectCostItemTitleQUuid]|reply_str_value -%}
                        <li>
                        <strong>{{ projectCostItemTitleReply if projectCostItemTitleReplyy else "(no name given)" }}</strong>
                        
                        {%- set projectCostItemDescriptionQUuid = [projectCostItem, uuids.costDescriptionQUuid]|reply_path -%}
                        {%- set projectCostItemDescriptionReply = repliesMap[projectCostItemDescriptionQUuid]|reply_str_value  -%}
                        
                        {{" "+projectCostItemDescriptionReply|dot}}

                        {%- set projectCostItemCurrencyQUuid = [projectCostItem, uuids.costCurrencyQUuid]|reply_path  -%}
                        {%- set projectCostItemCurrencyReply = repliesMap[projectCostItemCurrencyQUuid] -%}


                        {%- set projectCostItemAmountQUuid = [projectCostItem, uuids.costAmountQUuid]|reply_path   -%}
                        {%- set projectCostItemAmountReply = repliesMap[projectCostItemAmountQUuid]|reply_str_value -%}

                        {%- if  projectCostItemAmountReply and projectCostItemCurrencyReply -%}
                            <p>The amount is {{projectCostItemAmountReply}} {{macros.integrationValue(projectCostItemCurrencyReply)}}.</p>
                        {%- endif -%}

                        {%- set projectCostItemAllocationQUuid = [projectCostItem, uuids.costAllocationQUuid]|reply_path  -%}
                        {%- set projectCostItemAllocationItems = repliesMap[projectCostItemAllocationQUuid]|reply_items -%}

                        
                          {%- set projectCostItemAllocations = [] -%}
                          {%- if uuids.costAllocationFindabilityAUuid in projectCostItemAllocationItems -%}
                            {%- do projectCostItemAllocations.append("ensuring findability") -%}
                          {%- endif -%}
                          {%- if uuids.costAllocationAccessibilityAUuid in projectCostItemAllocationItems -%}
                            {%- do projectCostItemAllocations.append("ensuring accessibility") -%}
                          {%- endif -%}
                          {%- if uuids.costAllocationInteroperabilityAUuid in projectCostItemAllocationItems -%}
                            {%- do projectCostItemAllocations.append("ensuring interoperability") -%}
                          {%- endif -%}
                          {%- if uuids.costAllocationReusabilityAUuid in projectCostItemAllocationItems -%}
                            {%- do projectCostItemAllocations.append("ensuring reusability") -%}
                          {%- endif -%}
                          {%- if uuids.costManagementAUuid in projectCostItemAllocationItems -%}
                            {%- do projectCostItemAllocations.append("supporting management") -%}
                          {%- endif -%}
                        
                        {%- if projectCostItemAllocations|length > 0 -%}
                          <p>
                            This resource is allocated for{{+" "}}
                            {%- if projectCostItemAllocations|length > 2 -%}
                              {{ projectCostItemAllocations[0:-1]|join(", ") }}, and {{ projectCostItemAllocations[-1] }} of data.
                            {%- elif projectCostItemAllocations|length == 2 -%}
                              {{ projectCostItemAllocations[0] }} and {{ projectCostItemAllocations[1] }} of data.
                            {%- else -%}
                              {{ projectCostItemAllocations[0] }} of data.
                            {%- endif %}
                          </p>
                        {%- endif -%}
                       
 
                        {%- set projectCostItemCoverQUuid = [projectCostItem, uuids.costCoverQUuid]|reply_path  -%}
                        {%- set projectCostItemCoverAUuid = repliesMap[projectCostItemCoverQUuid]|reply_str_value -%}
                        </li>
                    {%- endfor -%}
                    </ul>
                {%- endif -%}

            </li>

        {%- endfor -%}
    </ul>
    {%- endif -%}
  </div>
</div>
