<header>
  <p class="dmp"></p>
  <h1>
    {%- set projectNamePath = join([adminDetailsCUuid, projectNameQUuid], ".") -%}
    {%- set projectNameReply = repliesMap[projectNamePath] -%}
    {%- if projectNameReply -%}
      {{ projectNameReply.value.value }}
    {%- else -%}
      <span class="empty-value">(project name not given)</span>
    {%- endif -%}
  </h1>
  <div>
    <dl>
      {%- set grantNumberPath = join([adminDetailsCUuid, grantNumberQUuid], ".") -%}
      {%- set grantNumberReply = repliesMap[grantNumberPath] -%}
      {%- if grantNumberReply %}
        <dt>Grant number</dt>
        <dd>{{ grantNumberReply.value.value }}</dd>
      {%- endif -%}

      {%- set contributorsPath = join([adminDetailsCUuid, contributorsQUuid], ".") -%}
      {%- set contributorsReply = repliesMap[contributorsPath] -%}
      {%- if contributorsReply -%}
        {%- set nContributors = contributorsReply.value.value -%}
        {%- set nContacts = length(filter(
          map(
            range(nContributors - 1),
            (i) -> repliesMap[
              join([contributorsPath, i, contributorRoleQUuid], ".")
            ]
          ),
          (r) -> r.value.value == contributorRoleContactPersonAUuid
          ))
        -%}
        <dt>Contact {{ nContacts > 1 ? "people" : "person" }}</dt>
        <dd>
          {%- if nContacts > 0 -%}
            <ul>
              {%- for i in range(nContributors - 1) -%}
                {%- set pathPrefix = join([contributorsPath, i], ".") ~ "." -%}
                {%- set contributorRole = repliesMap[pathPrefix ~ contributorRoleQUuid].value.value -%}
                {%- if contributorRole == contributorRoleContactPersonAUuid -%}
                  <li>
                    {%- set contributorName = repliesMap[pathPrefix ~ contributorNameQUuid].value.value -%}
                    {%- set contributorEmail = repliesMap[pathPrefix ~ contributorEmailQUuid].value.value -%}
                    {%- set contributorOrcid = repliesMap[pathPrefix ~ contributorOrcidQUuid].value.value -%}
                    {%- set contributorAffiliation = repliesMap[pathPrefix ~ contributorAffiliationQUuid].value.value -%}
                    {%- if contributorName -%}
                      <span class="contact-name">{{ contributorName }}</span>
                    {%- else -%}
                      <span class="contact-name missing">(name not given)</span>
                    {%- endif -%}
                    {%- if contributorEmail and contributorOrcid %}
                      ({{ formatEmail(contributorEmail) }}, {{ formatOrcid(contributorOrcid) }})
                    {%- elif contributorEmail %}
                      ({{ formatEmail(contributorEmail) }})
                    {%- elif contributorOrcid %}
                      ({{ formatOrcid(contributorOrcid) }})
                    {%- endif -%}
                    {%- if contributorAffiliation %}
                      <br>{{ contributorAffiliation }}
                    {%- endif -%}
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          {%- else -%}
            <span class="empty-value">There are no contact people define</span>
          {%- endif -%}
        </dd>
      {%- endif -%}

      {# {%- set projectAbstractPath = join([adminDetailsCUuid, projectAbstractQUuid], ".") -%}
      {%- set projectAbstractReply = repliesMap[projectAbstractPath] -%}
      {%- if projectAbstractReply %}
        <dt>Project abstract</dt>
        <dd>{{ projectAbstractReply.value.value }}</dd>
      {%- endif -%} #}

      <dt>Based on</dt>
      <dd>{{ dmp.package.name }}, {{ dmp.package.version }} (<span class="package-id"><span class="organization-id">{{ dmp.package.organizationId }}</span>:<span class="km-id">{{ dmp.package.kmId }}</span>:<span class="version">{{ dmp.package.version }}</span></span>)</dd>
      {%- if dmp.config.levelsEnabled.levelsEnabled -%}
      <dt>Project phase</dt>
      <dd>{{ renderCurrentLevel() }}</dd>
      {%- endif -%}
      <dt>Generated on</dt>
      <dd>{{ dateformat(replace(dmp.createdAt, slice(dmp.createdAt,19), "Z"), "%d. %m. %Y") }}</dd>
    </dl>
    <p class="dsw">
      Data Management Plan created in Data Stewardship Wizard <<a href="https://ds-wizard.org" target="_blank">https://ds-wizard.org</a>>
    </p>
  </div>
</header>


{%- set projectAbstractPath = join([adminDetailsCUuid, projectAbstractQUuid], ".") -%}
{%- set projectAbstractReply = repliesMap[projectAbstractPath] -%}
{%- if projectAbstractReply %}
<section class="abstract">
  <h2>Abstract</h2>
  {%- set paragraphs = split(projectAbstractReply.value.value, '\n') -%}
  {% for paragraph in paragraphs %}
  <p>{{ paragraph }}</p>
  {% endfor %}
</section>
{%- endif -%}