<!DOCTYPE HTML>
{% include "macros.html.j2" %}
{% include "uuids.j2" %}
<html>
  <head>
    <title>Data Management Plan</title>
    <meta charset="utf-8">
    <style>
      {% include "style.css" %}
    </style>
  </head>
  <body>
    <article class="dmp">
      {% include "header.html.j2" %}
      {% include "content.html.j2" %}
    </article>
  </body>
</html>
