{# Used UUID Paths #}
{# Chapter 1 - Administrative details #}
{%- set adminDetailsCUuid = "1e85da40-bbfc-4180-903e-6c569ed2da38" -%}
{%- set projectNameQUuid = "f0ef08fd-d733-465c-bc66-5de0b826c41b" -%}
{%- set grantNumberQUuid = "1ccbd0bb-4263-4240-9dc5-936ef09eef53" -%}
{%- set projectAbstractQUuid = "22583d74-3c98-4e0a-b363-26d767c88212" -%}
{%- set contributorsQUuid = "73d686bd-7939-412e-8631-502ee6d9ea7b" -%}
{%- set contributorNameQUuid = "6155ad47-3d1e-4488-9f2a-742de1e56580" -%}
{%- set contributorEmailQUuid = "3a2ffc13-6a0e-4976-bb34-14ab6d938348" -%}
{%- set contributorOrcidQUuid = "6295a55d-48d7-4f3c-961a-45b38eeea41f" -%}
{%- set contributorAffiliationQUuid = "68530470-1f1c-4448-8593-63a288713a66" -%}
{%- set contributorRoleQUuid = "829dcda6-db8a-40ac-819a-92b9b52490f5" -%}
{%- set contributorRoleContactPersonAUuid = "f7468e79-c621-4ac9-95e0-263ebdf23c73" -%}
{%- set contributorRoleDataCuratorAUuid = "0ee99167-c1a2-4fe9-a799-ef07a31ccf35" -%}
{%- set contributorRoleDataCollectorAUuid = "fe411838-170e-45d7-9d91-14f95ad347e6" -%}
{%- set contributorRoleDataManagerAUuid = "6eef8c10-150a-496c-b02a-61c90e62e95b" -%}
{%- set contributorRoleDistributorAUuid = "ae91b0b1-a591-49d1-a85c-13071550c043" -%}
{%- set additionalExpertiseQUuid = "83c0d09d-e74c-4c81-a52c-aaa2e18415ac" -%}
{%- set additionalExpertiseNoAUuid = "ccdadd45-8aa9-44ed-a669-1827c7813b0a" -%}
{%- set additionalExpertiseYesTrainAUuid = "d4b4c6e3-e5c6-4938-a08a-e51cb7cdebeb" -%}
{%- set additionalExpertiseYesTrainTrainingQUuid = "13dcbcd7-73d8-4480-8739-0a58702ced75" -%}
{%- set additionalExpertiseYesHireAUuid = "596b251b-4e0e-429b-86cc-df32edeeefae" -%}
{%- set additionalExpertiseYesHireExpertiseQUuid = "a12944fa-aa71-4712-a586-394d1709c397" -%}
{%- set additionalHWSWQUuid = "09c7c989-6461-417f-b09e-228491c051c6" -%}
{%- set additionalHWSWNoAUuid = "f4da7f1d-f3c6-42e2-a7b5-41c4845ba352" -%}
{%- set additionalHWSWYesAUuid = "5d0b87a6-93d5-4b33-a13f-e8b5da23904f" -%}
{%- set additionalHWSWYesWhatQUuid = "89af6cc3-cdc5-4d3f-9082-e02c063e0635" -%}
{# Chapter 6 - Preserving data #}
{%- set preservingCUuid = "d5b27482-b598-4b8c-b534-417d4ad27394" -%}
{%- set publishedDataQUuid = "4e0c1edf-660c-4ebf-81f5-9fa959dead30" -%}
{%- set publishedDataNameQUuid = "b0949d09-d179-4491-9fb4-14b0deb9f862" -%}
{%- set publishedDataLicenseQUuid = "ca0f9465-3116-4824-8651-b592151c5368" -%}
{%- set publishedDataLicenseCC0AUuid = "d27a6e0f-55ea-4b25-bfb9-dcb4d6346fe0" -%}
{%- set publishedDataLicenseCCBYAUuid = "9186e183-e328-41f9-b012-149d0bbad9ea" -%}
{%- set publishedDataLicenseRestrictAUuid = "734d5f4e-91c0-4019-8164-8c70c2e0c8f2" -%}
{%- set licenseRestrictConditionsQUuid = "30426255-b153-4f3e-bf20-f13573160a64" -%}
{%- set licenseRestrictAccessQUuid = "f78fb7e9-2f26-493c-a19b-04e153c17274" -%}
{%- set licenseRestrictAccessRequestAUuid = "15e7beff-1d71-4515-9517-26e222e672e5" -%}
{%- set licenseRestrictAccessCommitteeAUuid = "f68a6141-3f78-4efb-8a80-2a482e75a862" -%}
{%- set licenseRestrictAccessAnotherAUuid = "e856687f-772c-462a-b0e1-071ffffaab8e" -%}
{%- set licenseRestrictAccessAnotherQUuid = "8a7e4cc0-8806-4c7a-a662-66e38376769c" -%}
{%- set licenseRestrictMetadataQUuid = "a572c436-5d57-4385-ac9a-d6f117881444" -%}
{%- set licenseRestrictMetadataNoAUuid = "70e54988-5124-45cc-8803-2a7443e41b3d" -%}
{%- set licenseRestrictMetadataYesAUuid = "438aa606-da1d-49f7-8de0-e5fbe64feaa8" -%}
{%- set publishedDataDOIQUuid = "3cf7be99-76bd-4f62-be44-66cbe3df154a" -%}
{%- set publishedDataDOINoAUuid = "b18fab25-3059-452e-8bfe-9534959fba4a" -%}
{%- set publishedDataDOIYesAUuid = "07a9cea9-efd3-4a7f-a0b7-dff3118e393f" -%}
{%- set publishedDataDOIYesWhatQUuid = "0a47de5e-c751-4cb0-b657-0ba04206cb3e" -%}
{# Chapter 7 - Giving access to data #}
{%- set accessCUuid = "6be88f7c-f868-460f-bba7-91e1c659adfd" -%}
{%- set openImmediatelyQUuid = "a549d10b-aa46-4c0c-863f-30219ac5ecce" -%}
{%- set openImmediatelyYesAUuid = "8c33553c-9603-4156-82d7-85ab3d7de090" -%}
{%- set openImmediatelyNoAUuid = "b3739ebd-2d8e-42d3-9425-a7d6d1b26c79" -%}
{%- set notOpenLegalReasonsQUuid = "c010e830-bd89-460d-9498-cb41e7ffeb87" -%}
{%- set notOpenLegalReasonsNoAUuid = "31f2fcda-dbb2-40f6-871b-c3cc59797a6b" -%}
{%- set notOpenLegalReasonsYesAUuid = "aac95530-2978-4759-803b-64721533faf0" -%}
{%- set legalReasonsAuthenticatedQUuid = "55f03a4a-034b-422a-adf6-757416b7650a" -%}
{%- set legalReasonsAuthenticatedNoQUuid = "da8b25a9-8865-4ce8-a2ba-d592c42daa4c" -%}
{%- set legalReasonsAuthenticatedYesAUuid = "18a46146-25f6-4e5c-90ae-c6b9be9cc3f0" -%}
{%- set legalReasonsAuthorizeQUuid = "23909308-55cf-4e94-a616-2a74c809aa48" -%}
{%- set legalReasonsAuthorizeMemberAUuid = "ed47c9b7-9c2b-48ab-bdf4-efd8913f673e" -%}
{%- set legalReasonsAuthorizeNewCommitteeAUuid = "ca3b6db3-cd6c-4139-8d24-e5ded15c2796" -%}
{%- set legalReasonsAuthorizeOldCommitteeAUuid = "d010e09e-8ce8-47c6-a1f9-f281519ba936" -%}
{%- set legalReasonsAuthorizeOldCommitteeQUuid = "0de7232f-802d-4e1f-a84c-2895d08901ce" -%}
{%- set legalReasonsAuthorizeOtherAUuid = "f57960de-3cfb-47da-a30b-da7c5d27a38e" -%}
{%- set legalReasonsAuthorizeOtherQUuid = "346003fa-5ea6-41ed-a3b7-68d7e26a0b3e" -%}
{%- set notOpenLimitedEmbargoQUuid = "f5c12fcf-15d0-44ba-a53c-49ea9d7f620f" -%}
{%- set notOpenLimitedEmbargoYesAUuid = "1b120967-803b-458b-b565-dbee6a785509" -%}
{%- set notOpenLimitedEmbargoPeriodQUuid = "99a48a1a-5c27-4e15-9da0-515da815b4b8" -%}
