{# Used UUID Paths #}
{# Chapter 1 - Administrative details #}
{%- set adminDetailsCUuid = "1e85da40-bbfc-4180-903e-6c569ed2da38" -%}
{%- set projectNameQUuid = "f0ef08fd-d733-465c-bc66-5de0b826c41b" -%}
{%- set grantNumberQUuid = "1ccbd0bb-4263-4240-9dc5-936ef09eef53" -%}
{%- set projectAbstractQUuid = "22583d74-3c98-4e0a-b363-26d767c88212" -%}
{%- set contributorsQUuid = "73d686bd-7939-412e-8631-502ee6d9ea7b" -%}
{%- set contributorNameQUuid = "6155ad47-3d1e-4488-9f2a-742de1e56580" -%}
{%- set contributorEmailQUuid = "3a2ffc13-6a0e-4976-bb34-14ab6d938348" -%}
{%- set contributorOrcidQUuid = "6295a55d-48d7-4f3c-961a-45b38eeea41f" -%}
{%- set contributorAffiliationQUuid = "68530470-1f1c-4448-8593-63a288713a66" -%}
{%- set contributorRoleQUuid = "829dcda6-db8a-40ac-819a-92b9b52490f5" -%}
{%- set contributorRoleContactPersonAUuid = "f7468e79-c621-4ac9-95e0-263ebdf23c73" -%}
{%- set contributorRoleDataCuratorAUuid = "0ee99167-c1a2-4fe9-a799-ef07a31ccf35" -%}
{%- set contributorRoleDataCollectorAUuid = "fe411838-170e-45d7-9d91-14f95ad347e6" -%}
{%- set contributorRoleDataManagerAUuid = "6eef8c10-150a-496c-b02a-61c90e62e95b" -%}
{%- set contributorRoleDistributorAUuid = "ae91b0b1-a591-49d1-a85c-13071550c043" -%}
{%- set additionalExpertiseQUuid = "83c0d09d-e74c-4c81-a52c-aaa2e18415ac" -%}
{%- set additionalExpertiseNoAUuid = "ccdadd45-8aa9-44ed-a669-1827c7813b0a" -%}
{%- set additionalExpertiseYesTrainAUuid = "d4b4c6e3-e5c6-4938-a08a-e51cb7cdebeb" -%}
{%- set additionalExpertiseYesTrainTrainingQUuid = "13dcbcd7-73d8-4480-8739-0a58702ced75" -%}
{%- set additionalExpertiseYesHireAUuid = "596b251b-4e0e-429b-86cc-df32edeeefae" -%}
{%- set additionalExpertiseYesHireExpertiseQUuid = "a12944fa-aa71-4712-a586-394d1709c397" -%}
{%- set additionalHWSWQUuid = "09c7c989-6461-417f-b09e-228491c051c6" -%}
{%- set additionalHWSWNoAUuid = "f4da7f1d-f3c6-42e2-a7b5-41c4845ba352" -%}
{%- set additionalHWSWYesAUuid = "5d0b87a6-93d5-4b33-a13f-e8b5da23904f" -%}
{%- set additionalHWSWYesWhatQUuid = "89af6cc3-cdc5-4d3f-9082-e02c063e0635" -%}
{# Chapter 4 - Processing data #}
{%- set processingCUuid = "10a10ffd-bfe1-4c6b-bbb6-3dfb1e63a5d5" -%}
{%- set sharedWorkspaceQUuid = "72099c46-16e7-47a2-a320-cc768b7085fe" -%}
{%- set sharedWorkspaceYesAUuid = "e7324e1a-bfcb-4f2b-855a-35701dfb1ad5" -%}
{%- set sharedAccessControlQUuid = "80d403f3-3f29-4f37-9040-b901ae9afa37" -%}
{%- set sharedAccessControlMembersRWAUuid = "302e4b9b-9a9c-4fb0-9745-5f8ff4cca746" -%}
{%- set sharedAccessControlInstituteRAUuid = "154cd5fc-a79f-4c2e-be67-6985813bbc8d" -%}
{%- set sharedAccessControlMembersRAUuid = "b21c9f70-78e7-4975-b776-59e372285662" -%}
{%- set sharedAccessControlMembersRequestAUuid = "b19ba76a-4b6a-45f6-8ab5-8bbfb92c7b2c" -%}
{%- set risksQUuid = "614ab69d-55a6-4214-b384-00ba21ce92a1" -%}
{%- set risksExploreAUuid = "b2f76c0a-847a-403c-9ed6-09cad10e625e" -%}
{%- set risksStoreLabQUuid = "90324a7b-f3c9-4ed8-b301-edc9869cb7b3" -%}
{%- set risksStoreLabNoAUuid = "17172079-ddce-40a7-b93a-f86dc6611452" -%}
{%- set risksCarryHomeQUuid = "abaf4a70-17d4-449c-9b95-5b3bcfed7e9b" -%}
{%- set risksCarryHomeNoAUuid = "3c8f999d-c962-42a4-a7c3-05b21a4029ab" -%}
{%- set risksCarryHomeYesAUuid = "c9fc7d94-0f37-40af-9d12-7c828d1252fc" -%}
{%- set risksCarryHomeEncQUuid = "6aff9a57-acea-4f6d-ac98-9a067e03cc8e" -%}
{%- set risksCarryHomeEncNoAUuid = "546d6e41-80ea-417b-b0e3-a1d9d75a3794" -%}
{%- set risksCarryHomeEncYesAUuid = "dda8513e-431d-474e-b00d-107ae995e0ee" -%}
{%- set risksCertificationsQUuid = "a454fffd-f4a4-426d-b758-6d70bc4ee96b" -%}
{%- set risksCertificationsYesAUuid = "a9629ff2-30b2-4295-ae35-98320cfdb254" -%}
{%- set risksHttpsQUuid = "39d8dad9-7666-405c-b35c-9e430c9691ed" -%}
{%- set risksHttpsYesAUuid = "bb176104-3bf1-4bc8-b8e8-a4b09e14b88c" -%}
{%- set risksInstructedQUuid = "dc327e53-cf4f-44e7-8e66-40ddf1b4ae0a" -%}
{%- set risksInstructedYesAUuid = "4f86bb87-06f6-4d52-a9c0-52fc97bb441c" -%}
{%- set risksInfoLossQUuid = "67c34ee1-2e71-423c-97a7-fe6aa3723465" -%}
{%- set risksInfoLossSmallAUuid = "a8a4dc7d-bf8c-44e3-b8b2-3e04f206f460" -%}
{%- set risksInfoLossLowAUuid = "a0ec7128-1c2d-4034-b621-211bd01a9839" -%}
{%- set risksInfoLossWillAUuid = "928db5fa-e16f-4c28-a321-ad62e1849b90" -%}
{%- set risksInfoLeakQUuid = "a20ddc5d-e883-4bc4-9948-36a2cb477d10" -%}
{%- set risksInfoLeakSmallAUuid = "7c9c8543-b8f8-47b0-8279-757dbc14922f" -%}
{%- set risksInfoLeakLowAUuid = "6306207c-7be6-4cdf-86c4-33e0d9898479" -%}
{%- set risksInfoLeakWillAUuid = "efec7b38-d9a9-4495-8ba7-625dd7da6a09" -%}
{%- set risksInfoVandalismQUuid = "8cd49d8f-9af0-4ea9-985a-5d45142ac388" -%}
{%- set risksInfoVandalismSmallAUuid = "ae0c3b93-f054-4052-91c0-fa9c518f5ca8" -%}
{%- set risksInfoVandalismLowAUuid = "b1e1861b-b55f-406f-b915-b440c64d8747" -%}
{%- set risksInfoVandalismWillAUuid = "e8943baf-4c0c-4f30-8b57-88c06f3bc4ad" -%}
{%- set risksPersonalDataQUuid = "d5990471-0618-42cd-92cb-bbbfd4f61532" -%}
{%- set risksPersonalDataNotUsingAUuid = "5d518250-a5d3-47f1-ada8-aa64c9ce3370" -%}
{%- set risksPersonalDataPseudoAUuid = "75b86c10-4aeb-4f1a-89cd-8b380a2287b1" -%}
{%- set risksPersonalDataAnonymousAUuid = "ca0df149-cb95-404a-a925-0a1fc5052d1d" -%}
{%- set risksPersonalDataAnonymizedAUuid = "44348fa8-fd12-49ea-ad7f-48ff88215829" -%}
{%- set risksPseudonymizationQUuid = "59748a7b-f729-404d-babe-3147e2c6b247" -%}
{%- set risksPseudonymizationInsideAUuid = "72c0a64f-a3ec-4d9e-bf37-ee0b25c2a084" -%}
{%- set risksPseudonymizationPartyAUuid = "1653a04e-20e2-4929-9fd5-8c35402ac359" -%}
{%- set risksPseudonymizationAnotherAUuid = "c5bdfb9d-33a7-4d0b-82cf-cde1911ad5bc" -%}
{%- set risksPseudonymizationAnotherQUuid = "eb876df3-5fb5-4885-9ab6-7dbfa6ba7427" -%}
{# Chapter 6 - Preserving data #}
{%- set preservingCUuid = "d5b27482-b598-4b8c-b534-417d4ad27394" -%}
{%- set publishedDataQUuid = "4e0c1edf-660c-4ebf-81f5-9fa959dead30" -%}
{%- set publishedDataNameQUuid = "b0949d09-d179-4491-9fb4-14b0deb9f862" -%}
{%- set publishedDataRepositoryKindQUuid = "80a682bd-8a5c-4a52-935d-680509838a4e" -%}
{%- set publishedDataRepositoryDomainSpecificAUuid = "1dc412c6-da92-4cc2-8639-316c0c6ec5ff" -%}
{%- set domainSpecificRepoNameQUuid = "221c322e-dff5-438f-8a2e-90e762681156" -%}
{%- set domainSpecificRepoContactBeforeQUuid = "b1492627-9cb6-465a-945a-a2a7ff9a8189" -%}
{%- set domainSpecificRepoContactBeforeNoAUuid = "c86c80b4-72b3-4194-956a-27e40d3c23eb" -%}
{%- set domainSpecificRepoContactBeforeYesAlreadyAUuid = "e09562c0-346c-4c95-b470-c5810aab18fa" -%}
{%- set domainSpecificRepoContactBeforeYesWillAUuid = "93c590a5-60a6-481d-9482-9145435143a2" -%}
{%- set domainSpecificRepoContactBeforeOtherAUuid = "620b1090-2a57-4f3c-b336-97c9e95da637" -%}
{%- set domainSpecificRepoContactBeforeOtherQUuid = "fc0857c1-e4d2-47f5-86b1-0292bfc7eecf" -%}
{%- set publishedDataRepositoryNationalAUuid = "fb96d008-f31a-4a1a-b203-b3f9bb32fcc8" -%}
{%- set publishedDataRepositoryInstitutionalAUuid = "df0b2ee3-8e4d-42a1-9bb2-c69228074406" -%}
{%- set publishedDataRepositorySpecialAUuid = "afd9f4d5-20e0-4fa0-a42a-376c132ff5b0" -%}
{%- set specialRepoLongTermSupportQUuid = "f83a9afd-c6de-452b-be9f-bd76e5eb6b54" -%}
{%- set specialRepoLongTermSupportYesAUuid = "714e0a22-c059-4f80-9780-6f7f2e2ce53b" -%}
{%- set specialRepoServiceLevelQUuid = "cbbfb0da-caf1-4c04-b72f-de39c4a8fb33" -%}
{%- set specialRepoServiceLevelDownloadAUuid = "dc1082fd-1c90-492c-833c-3e0909c643bb" -%}
{%- set specialRepoServiceLevelSimpleAUuid = "da6725a2-62bb-4fe7-a76f-a4e396646b19" -%}
{%- set specialRepoServiceLevelAdvancedAUuid = "d65ddfda-9b08-4ab6-90e5-07df748d7929" -%}
{%- set publishedDataCatalogueQUuid = "46039bea-87e6-4c61-8567-4e819404b4d0" -%}
{%- set publishedDataCatalogueYesAUuid = "9e39ea26-cdaf-483b-9502-d47fc4f69bab" -%}
{%- set publishedDataLicenseQUuid = "ca0f9465-3116-4824-8651-b592151c5368" -%}
{%- set publishedDataLicenseCC0AUuid = "d27a6e0f-55ea-4b25-bfb9-dcb4d6346fe0" -%}
{%- set publishedDataLicenseCCBYAUuid = "9186e183-e328-41f9-b012-149d0bbad9ea" -%}
{%- set publishedDataLicenseRestrictAUuid = "734d5f4e-91c0-4019-8164-8c70c2e0c8f2" -%}
{%- set licenseRestrictConditionsQUuid = "30426255-b153-4f3e-bf20-f13573160a64" -%}
{%- set licenseRestrictAccessQUuid = "f78fb7e9-2f26-493c-a19b-04e153c17274" -%}
{%- set licenseRestrictAccessRequestAUuid = "15e7beff-1d71-4515-9517-26e222e672e5" -%}
{%- set licenseRestrictAccessCommitteeAUuid = "f68a6141-3f78-4efb-8a80-2a482e75a862" -%}
{%- set licenseRestrictAccessAnotherAUuid = "e856687f-772c-462a-b0e1-071ffffaab8e" -%}
{%- set licenseRestrictAccessAnotherQUuid = "8a7e4cc0-8806-4c7a-a662-66e38376769c" -%}
{%- set licenseRestrictMetadataQUuid = "a572c436-5d57-4385-ac9a-d6f117881444" -%}
{%- set licenseRestrictMetadataNoAUuid = "70e54988-5124-45cc-8803-2a7443e41b3d" -%}
{%- set licenseRestrictMetadataYesAUuid = "438aa606-da1d-49f7-8de0-e5fbe64feaa8" -%}
{%- set publishedDataHowLongQUuid = "d4e6a244-07fb-4573-b93f-c20a9409ac7c" -%}
{%- set publishedDataHowLongTechnicalAUuid = "59305ef2-2dd0-4553-8d7b-29186e0b8cd5" -%}
{%- set publishedDataHowLongLegalAUuid = "bb6b4f0a-9908-4473-9982-30084ff4f6ab" -%}
{%- set publishedDataHowLongFixedAUuid = "7b5f059a-ae7e-4f7f-92e8-119911e568b2" -%}
{%- set publishedDataHowLongFixedQUuid = "346118ee-265f-4104-8409-161ea9a57f75" -%}
{%- set publishedDataMetadataPersistentQUuid = "3b3fbcc6-c405-4151-8dce-e11dbd46b1bd" -%}
{%- set publishedDataMetadataPersistentYesAUuid = "d21c32f1-c150-4c89-8472-2918d60dd547" -%}
{%- set publishedDataDOIQUuid = "3cf7be99-76bd-4f62-be44-66cbe3df154a" -%}
{%- set publishedDataDOINoAUuid = "b18fab25-3059-452e-8bfe-9534959fba4a" -%}
{%- set publishedDataDOIYesAUuid = "07a9cea9-efd3-4a7f-a0b7-dff3118e393f" -%}
{%- set publishedDataDOIYesWhatQUuid = "0a47de5e-c751-4cb0-b657-0ba04206cb3e" -%}
{%- set repoChargesQUuid = "de23bb94-b727-4907-9a5d-6f8c78c3e432" -%}
{%- set repoChargesNoAUuid = "172043dd-d911-4bc7-9ba6-841d38d5822c" -%}
{%- set repoChargesYesAUuid = "fe8ed36b-40e8-483b-ab31-061f6168d7ad" -%}
{%- set repoChargesHowPayQUuid = "edc9b6d9-c121-4e00-ba83-710330c2e18d" -%}
{%- set repoChargesHowPayBudgetedAUuid = "f613d751-f6dd-406e-863c-cdce486a5fc0" -%}
{%- set repoChargesHowPayDepartmentAUuid = "9081d546-59d1-4ffb-987e-02f6ed002e73" -%}
{%- set repoChargesHowPayInstituteAUuid = "aeafeb04-59e1-4e56-8c89-07d773474695" -%}
{%- set repoChargesHowPayOtherAUuid = "6fb69263-d2cb-4d90-babe-523136c29bc4" -%}
{%- set repoChargesHowPayOtherQUuid = "6e0704a2-cea3-4ae7-8ab5-5eb6db163639" -%}
{%- set budgetTimeEffortQUuid = "13a7eeae-09f5-42bf-8e62-b2c1fe1b86f7" -%}
{%- set budgetTimeEffortYesAUuid = "db44d6ca-efc2-413e-8abc-d92f92ed1d1d" -%}
{# Chapter 7 - Giving access to data #}
{%- set accessCUuid = "6be88f7c-f868-460f-bba7-91e1c659adfd" -%}
{%- set openImmediatelyQUuid = "a549d10b-aa46-4c0c-863f-30219ac5ecce" -%}
{%- set openImmediatelyYesAUuid = "8c33553c-9603-4156-82d7-85ab3d7de090" -%}
{%- set openImmediatelyNoAUuid = "b3739ebd-2d8e-42d3-9425-a7d6d1b26c79" -%}
{%- set notOpenLegalReasonsQUuid = "c010e830-bd89-460d-9498-cb41e7ffeb87" -%}
{%- set notOpenLegalReasonsNoAUuid = "31f2fcda-dbb2-40f6-871b-c3cc59797a6b" -%}
{%- set notOpenLegalReasonsYesAUuid = "aac95530-2978-4759-803b-64721533faf0" -%}
{%- set legalReasonsAuthenticatedQUuid = "55f03a4a-034b-422a-adf6-757416b7650a" -%}
{%- set legalReasonsAuthenticatedNoQUuid = "da8b25a9-8865-4ce8-a2ba-d592c42daa4c" -%}
{%- set legalReasonsAuthenticatedYesAUuid = "18a46146-25f6-4e5c-90ae-c6b9be9cc3f0" -%}
{%- set legalReasonsAuthorizeQUuid = "23909308-55cf-4e94-a616-2a74c809aa48" -%}
{%- set legalReasonsAuthorizeMemberAUuid = "ed47c9b7-9c2b-48ab-bdf4-efd8913f673e" -%}
{%- set legalReasonsAuthorizeNewCommitteeAUuid = "ca3b6db3-cd6c-4139-8d24-e5ded15c2796" -%}
{%- set legalReasonsAuthorizeOldCommitteeAUuid = "d010e09e-8ce8-47c6-a1f9-f281519ba936" -%}
{%- set legalReasonsAuthorizeOldCommitteeQUuid = "0de7232f-802d-4e1f-a84c-2895d08901ce" -%}
{%- set legalReasonsAuthorizeOtherAUuid = "f57960de-3cfb-47da-a30b-da7c5d27a38e" -%}
{%- set legalReasonsAuthorizeOtherQUuid = "346003fa-5ea6-41ed-a3b7-68d7e26a0b3e" -%}
{%- set notOpenLimitedEmbargoQUuid = "f5c12fcf-15d0-44ba-a53c-49ea9d7f620f" -%}
{%- set notOpenLimitedEmbargoYesAUuid = "1b120967-803b-458b-b565-dbee6a785509" -%}
{%- set notOpenLimitedEmbargoPeriodQUuid = "99a48a1a-5c27-4e15-9da0-515da815b4b8" -%}
