<div id="q-ethical-issues" class="question">
  <h3>4. How will you manage any ethical issues?</h3>
  {%- scope -%}
  <div class="answer">
    {# Non reference data #}
    {%- set preexistingPath = join([reusingCUuid, preexistingQUuid], ".") -%}
    {%- set preexistingAUuid = repliesMap[preexistingPath].value.value -%}
    {%- if preexistingAUuid == preexistingYesAUuid -%}
      {%- set usingPreexistingPath = join([preexistingPath, preexistingYesAUuid, usingPreexistingQUuid], ".") -%}
      {%- set usingPreexistingAUuid = repliesMap[usingPreexistingPath].value.value -%}
      {%- if usingPreexistingAUuid == usingPreexistingYesAUuid -%}
        {%- set nrefDataPath = join([usingPreexistingPath, usingPreexistingYesAUuid, nrefDataQUuid], ".") -%}
        {%- set nrefDataCount = repliesMap[nrefDataPath].value.value -%}
        {%- set answeredNRefData = length(filter(
          range(nrefDataCount-1), 
          (i) -> repliesMap[join([nrefDataPath, i, nrefDataConsentQUuid], ".")]
        )) -%}
        {%- if answeredNRefData > 0 -%}
          <h4>Data we reuse</h4>
          <ul>
            {%- for i in range(nrefDataCount - 1) -%}
              {%- set nrefDataNamePath = join([nrefDataPath, i, nrefDataNameQUuid], ".") -%}
              {%- set nrefDataNameReply = repliesMap[nrefDataNamePath] -%}
              {%- set nrefDataConsentPath = join([nrefDataPath, i, nrefDataConsentQUuid], ".") -%}
              {%- set nrefDataConsentAUuid = repliesMap[nrefDataConsentPath].value.value -%}
              {%- if nrefDataConsentAUuid -%}
              <li>
                <strong>{{ integrationValue(nrefDataNameReply, nrefDataNameQUuid) }}</strong>
                {%- if nrefDataConsentAUuid == nrefDataConsentNotPersonalAUuid %}
                  does not need an extension of any consent because it is not personal data.
                {%- elif nrefDataConsentAUuid == nrefDataConsentAnotherLegalAUuid %}
                  does not need an extension of any consent because we will use another legal base for the processing.
                {%- elif nrefDataConsentAUuid == nrefDataConsentCoversAUuid %}
                  <span class="separator">&ndash;</span> the existing consent covers our reuse.
                {%- elif nrefDataConsentAUuid == nrefDataConsentNewAUuid %}
                  does need a new consent to cover our usage of the data.
                {%- elif nrefDataConsentAUuid == nrefDataConsentOtherAUuid %}
                  {%- set nrefDataConsentOtherPath = join([nrefDataConsentPath, nrefDataConsentOtherAUuid, nrefDataConsentOtherQUuid], ".") -%}
                  {%- set nrefDataConsentOther = repliesMap[nrefDataConsentOtherPath].value.value %}
                  has special arragements{{ nrefDataConsentOther ? ": " ~ nrefDataConsentOther : "" }}{{ endswith(nrefDataConsentOther, ".") ? "" : "." }}
                {%- endif -%}
              </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}

    {# Collected data #}
    {%- set needConsentPath = join([creatingCUuid, needConsentQUuid], ".") -%}
    {%- set needConsentAUuid = repliesMap[needConsentPath].value.value -%}
    {%- if needConsentAUuid -%}
      <h4>Data we collect</h4>
      <p>
      {%- if needConsentAUuid == needConsentNoNotCollectAUuid -%}
        We don't need any consent for collected data because those are not personal.
      {%- elif needConsentAUuid == needConsentNoAnotherLegalAUuid -%}
        Our work on personal data can be done without consent using another legal base
        {%- set legalBasePath = join([needConsentPath, needConsentNoAnotherLegalAUuid, legalBaseQUuid], ".") -%}
        {%- set legalBaseAUuid = repliesMap[legalBasePath].value.value -%}
        {%- if legalBaseAUuid == legalBaseComplianceAUuid %}
          <span class="separator">&ndash;</span> compliance with a legal obligation.
        {%- elif legalBaseAUuid == legalBaseContractAUuid %}
          <span class="separator">&ndash;</span> contractual performance.
        {%- elif legalBaseAUuid == legalBaseVitalInterestsAUuid %}
          <span class="separator">&ndash;</span> vital interests.
        {%- elif legalBaseAUuid == legalBasePublicInterestsAUuid %}
          <span class="separator">&ndash;</span> public interest or acting under official public authority.
        {%- elif legalBaseAUuid == legalBaseLegitimateInterestsAUuid %}
          <span class="separator">&ndash;</span> legitimate interests.
        {%- elif legalBaseAUuid == legalBaseOtherAUuid -%}
          {%- set legalBaseOtherPath = join([legalBasePath, legalBaseOtherAUuid, legalBaseOtherQUuid], ".") -%}
          {%- set legalBaseOther = repliesMap[legalBaseOtherPath].value.value -%}
          {{ legalBaseOther ? ": " ~ legalBaseOther : " (not further specified)"}}{{ endswith(legalBaseOther, ".") ? "" : "." }}
        {%- else %} (not further specified).{%- endif -%}
      {%- elif needConsentAUuid == needConsentYesSpecificAUuid -%}
        We will collect consent for our specific use of the data.
      {%- elif needConsentAUuid == needConsentYesReuseAUuid -%}
        We will collect consent for our use as well as reuse of the data.
      {%- elif needConsentAUuid == needConsentYesAnonymizeAUuid -%}
        We will collect consent for our use of the data, and will anonymize the data afterwards for reuse.
      {%- endif -%}
      </p>
    {%- endif -%}
  </div>
  {%- endscope -%}
</div>
