<div id="q-ethical-issues" class="question">
  <h3>5. How will you manage copyright and Intellectual Property Rights (IPR) issues?</h3>
  {%- scope -%}
  <div class="answer">
    {# Open philosophy #}
    {%- set asOpenAsPossiblePath = join([accessCUuid, asOpenAsPossibleQUuid], ".") -%}
    {%- set asOpenAsPossibleAUuid = repliesMap[asOpenAsPossiblePath].value.value -%}
    {%- if asOpenAsPossibleAUuid == asOpenAsPossibleYesAUuid -%}
      <p>We will be working with the philosophy <em>as open as possible</em> for our data.</p>
    {%- endif -%}

    {# Can open data #}
    {%- set openImmediatelyPath = join([accessCUuid, openImmediatelyQUuid], ".") -%}
    {%- set openImmediatelyAUuid = repliesMap[openImmediatelyPath].value.value -%}
    {%- if openImmediatelyAUuid == openImmediatelyYesAUuid -%}
      <p>All of our data can become completely open immediately.</p>
    {%- elif openImmediatelyAUuid == openImmediatelyNoAUuid -%}
      {%- set pathPrefix = join([openImmediatelyPath, openImmediatelyNoAUuid], ".") -%}
      {%- set notOpenLegalReasonsPath = join([pathPrefix, notOpenLegalReasonsQUuid], ".") -%}
      {%- set notOpenLegalReasonsAUuid = repliesMap[notOpenLegalReasonsPath].value.value -%}
      {%- set notOpenBusinessReasonsPath = join([pathPrefix, notOpenBusinessReasonsQUuid], ".") -%}
      {%- set notOpenBusinessReasonsAUuid = repliesMap[notOpenBusinessReasonsPath].value.value -%}
      {%- set notOpenOtherReasonsPath = join([pathPrefix, notOpenOtherReasonsQUuid], ".") -%}
      {%- set notOpenOtherReasonsAUuid = repliesMap[notOpenOtherReasonsPath].value.value -%}
      {%- set notOpenBusinessReasonsOtherPath = join([notOpenBusinessReasonsPath, notOpenBusinessReasonsOtherAUuid, notOpenBusinessReasonsOtherQUuid], ".") -%}
      {%- set notOpenBusinessReasonsOther = repliesMap[notOpenBusinessReasonsOtherPath].value.value -%}
      {%- set notOpenOtherReasonsOtherPath = join([notOpenOtherReasonsPath, notOpenOtherReasonsOtherAUuid, notOpenOtherReasonsOtherQUuid], ".") -%}
      {%- set notOpenOtherReasonsOther = repliesMap[notOpenOtherReasonsOtherPath].value.value -%}

      {%- set legalReasons = notOpenLegalReasonsAUuid == notOpenLegalReasonsYesAUuid -%}
      {%- set businessReasonsPatents = notOpenBusinessReasonsAUuid == notOpenBusinessReasonsPatentsAUuid -%}
      {%- set businessReasonsOther = notOpenBusinessReasonsAUuid == notOpenBusinessReasonsOtherAUuid -%}
      {%- set otherReasonsPapers = notOpenOtherReasonsAUuid == notOpenOtherReasonsPapersAUuid -%}
      {%- set otherReasonsOther = notOpenOtherReasonsAUuid == notOpenOtherReasonsOtherAUuid -%}
      {%- set reasons = [legalReasons, businessReasonsPatents, businessReasonsOther, otherReasonsPapers, otherReasonsOther] -%}
      {%- set nReasons = length(filter(reasons, (r) -> r)) -%}

      {%- if nReasons > 0 -%}
        <p>
        The data cannot become completely open immediately because 
        {%- if nReasons == 1 -%}
          {%- if legalReasons %}
            of legal reasons.
          {%- elif businessReasonsPatents %}
            of patent-related business reasons.
          {%- elif businessReasonsOther %}
            of non-patent business reasons{{ notOpenBusinessReasonsOther ? ": " ~ notOpenBusinessReasonsOther : "" }}{{ endswith(notOpenBusinessReasonsOther, ".") ? "" : "." }}
          {%- elif otherReasonsPapers %}
            we want to publish a paper first.
          {%- elif otherReasonsOther %}
            we have other than paper-publishing reasons{{ notOpenOtherReasonsOther ? ": " ~ notOpenOtherReasonsOther : "" }}{{ endswith(notOpenOtherReasonsOther, ".") ? "" : "." }}
          {%- endif -%}
        {%- else %}
          of:
          <ul>
            {%- if legalReasons %}
              <li>legal reasons</li>
            {%- endif -%}
            {%- if businessReasonsPatents %}
              <li>patent-related business reasons</li>
            {%- elif businessReasonsOther %}
              <li>non-patent business reasons{{ notOpenBusinessReasonsOther ? ": " ~ notOpenBusinessReasonsOther : "" }}</li>
            {%- endif -%}
            {%- if otherReasonsPapers %}
              <li>we want to publish a paper first</li>
            {%- elif otherReasonsOther -%}
              <li>we have other than paper-publishing reasons{{ notOpenOtherReasonsOther ? ": " ~ notOpenOtherReasonsOther : "" }}</li>
            {%- endif -%}
          </ul>
        {%- endif -%}
      {%- else -%}
        <p>The data cannot become completely open immediately.</p>
      {%- endif -%}

      {%- set notOpenLimitedEmbargoPath = join([openImmediatelyPath, openImmediatelyNoAUuid, notOpenLimitedEmbargoQUuid], ".") -%}
      {%- set notOpenLimitedEmbargoAUuid = repliesMap[notOpenLimitedEmbargoPath].value.value -%}
      {%- if notOpenLimitedEmbargoAUuid == notOpenLimitedEmbargoIndefinitelyAUuid -%}
        <p>Limited embargo cannot be used because some restricted data will be embargoed indefinitely.</p>
      {%- elif notOpenLimitedEmbargoAUuid == notOpenLimitedEmbargoReleasedSoonAUuid -%}
        <p>Data will be released only as soon as restrictions are falling away.</p>
      {%- elif notOpenLimitedEmbargoAUuid == notOpenLimitedEmbargoYesAUuid -%}
        <p>Data that is not legally restrained will be released after a fixed time period, unconditionally.</p>
      {%- endif -%}
    {%- endif -%}
    
    {# Ownership #}
    {%- set ownershipPath = join([creatingCUuid, ownershipQUuid], ".") -%}
    {%- set ownershipAUuid = repliesMap[ownershipPath].value.value -%}
    {%- if ownershipAUuid == ownershipNoOwnerAUuid -%}
      <p>Our data is legally not copyrightable, there is no legal owner.</p>
    {%- elif ownershipAUuid == ownershipPIAUuid -%}
      <p>All data will be owned by the Principal Investigator.</p>
    {%- elif ownershipAUuid == ownershipInstituteAUuid -%}
      <p>All data will be owned by the institute.</p>
    {%- elif ownershipAUuid == ownershipConsortiumAUuid -%}
      <p>We have a consortium agreement that arranges Intellectual Property.</p>
    {%- elif ownershipAUuid == ownershipOtherAUuid -%}
      {%- set ownershipOtherPath = join([ownershipPath, ownershipOtherAUuid, ownershipOtherQUuid], ".") -%}
      {%- set ownershipOther = repliesMap[ownershipOtherPath].value.value -%}
      {%- if ownershipOther -%}
        <p>We have made the following arrangements regarding the data ownership: {{ ownershipOther }}{{ endswith(ownershipOther, ".") ? "" : "." }}</p>
      {%- endif -%}
    {%- endif -%}

    {# (Non)reference data - license #}
    {%- set preexistingPath = join([reusingCUuid, preexistingQUuid], ".") -%}
    {%- set preexistingAUuid = repliesMap[preexistingPath].value.value -%}
    {%- if preexistingAUuid == preexistingYesAUuid -%}
      {%- set usingPreexistingPath = join([preexistingPath, preexistingYesAUuid, usingPreexistingQUuid], ".") -%}
      {%- set usingPreexistingAUuid = repliesMap[usingPreexistingPath].value.value -%}
      {%- if usingPreexistingAUuid == usingPreexistingYesAUuid -%}
        {%- set refDataPath = join([usingPreexistingPath, usingPreexistingYesAUuid, refDataQUuid], ".") -%}
        {%- set refDataCount = repliesMap[refDataPath].value.value -%}
        {%- set nrefDataPath = join([usingPreexistingPath, usingPreexistingYesAUuid, nrefDataQUuid], ".") -%}
        {%- set nrefDataCount = repliesMap[nrefDataPath].value.value -%}
        {%- set answeredRefData = length(filter(
          range(refDataCount-1), 
          (i) -> repliesMap[join([refDataPath, i, refDataConditionsQUuid], ".")]
        )) -%}
        {%- set answeredNRefData = length(filter(
          range(nrefDataCount-1), 
          (i) -> repliesMap[join([nrefDataPath, i, nrefDataConditionsQUuid], ".")]
        )) -%}
        {%- if (answeredRefData + answeredNRefData) > 0 -%}
          <p>For the reference and non-reference data sets that we reuse, conditions are as follows:
          <ul>
            {%- for i in range(refDataCount - 1) -%}
              {%- set refDataNamePath = join([refDataPath, i, refDataNameQUuid], ".") -%}
              {%- set refDataNameReply = repliesMap[refDataNamePath] -%}
              {%- set refDataConditionsPath = join([refDataPath, i, refDataConditionsQUuid], ".") -%}
              {%- set refDataConditionsAUuid = repliesMap[refDataConditionsPath].value.value -%}
              {%- if refDataConditionsAUuid -%}
                <li>
                  <strong>{{ integrationValue(refDataNameReply, refDataNameQUuid) }}</strong>
                  <span class="separator">&ndash;</span>
                  {% if refDataConditionsAUuid == refDataConditionsCC0AUuid -%}
                    freely available for any use (public domain or CC0).
                  {%- elif refDataConditionsAUuid == refDataConditionsCCBYAUuid -%}
                    freely available with obligation to quote the source (e.g. CC-BY).
                  {%- elif refDataConditionsAUuid == refDataConditionsOtherAUuid -%}
                    {%- set refDataConditionsOtherPath = join([refDataConditionsPath, refDataConditionsOtherAUuid, refDataConditionsOtherQUuid], ".") -%}
                    {%- set refDataConditionsOther = repliesMap[refDataConditionsOtherPath].value.value -%}
                    available under specific restrictions, which we will follow in our project{{ refDataConditionsOther ? ": " ~ refDataConditionsOther : "" }}{{ endswith(refDataConditionsOther, ".") ? "" : "." }}
                  {%- endif -%}
                </li>
              {%- endif -%}
            {%- endfor -%}
            {%- for i in range(nrefDataCount - 1) -%}
              {%- set nrefDataNamePath = join([nrefDataPath, i, nrefDataNameQUuid], ".") -%}
              {%- set nrefDataNameReply = repliesMap[nrefDataNamePath] -%}
              {%- set nrefDataConditionsPath = join([nrefDataPath, i, nrefDataConditionsQUuid], ".") -%}
              {%- set nrefDataConditionsAUuid = repliesMap[nrefDataConditionsPath].value.value -%}
              {%- if nrefDataConditionsAUuid -%}
                <li>
                  <strong>{{ integrationValue(nrefDataNameReply, nrefDataNameQUuid) }}</strong>
                  <span class="separator">&ndash;</span>
                  {% if nrefDataConditionsAUuid == nrefDataConditionsCC0AUuid -%}
                    freely available for any use (public domain or CC0).
                  {%- elif nrefDataConditionsAUuid == nrefDataConditionsCCBYAUuid -%}
                    freely available with obligation to quote the source (e.g. CC-BY).
                  {%- elif nrefDataConditionsAUuid == nrefDataConditionsOtherAUuid -%}
                    {%- set nrefDataConditionsOtherPath = join([nrefDataConditionsPath, nrefDataConditionsOtherAUuid, refDataConditionsOtherQUuid], ".") -%}
                    {%- set nrefDataConditionsOther = repliesMap[nrefDataConditionsOtherPath].value.value -%}
                    available under specific restrictions, which we will follow in our project{{ nrefDataConditionsOther ? ": " ~ nrefDataConditionsOther : "" }}{{ endswith(nrefDataConditionsOther, ".") ? "" : "." }}
                  {%- endif -%}
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  </div>
  {%- endscope -%}
</div>
