<div id="q-store-backup" class="question">
  <h3>How will the data be stored and backed up during the research?</h3>
  {%- scope -%}
  <div class="answer">
    {# Data stored by members (no shared workspace) #}
    {%- set sharedWorkspacePath = join([processingCUuid, sharedWorkspaceQUuid], ".") -%}
    {%- set sharedWorkspaceAUuid = repliesMap[sharedWorkspacePath].value.value -%}
    {%- if sharedWorkspaceAUuid == sharedWorkspaceNoAUuid -%}
      {%- set notSharedBackupPath = join([sharedWorkspacePath, sharedWorkspaceNoAUuid, notSharedBackupQUuid], ".") -%}
      {%- set notSharedBackupAUuid = repliesMap[notSharedBackupPath].value.value -%}
      {%- if notSharedBackupAUuid == notSharedBackupYesAUuid -%}
        <p>Data that project members themselves store adequately backed up and traceable. Therefore data are protected against both equipment failure and human error.</p>
      {%- endif -%}
    {%- elif sharedWorkspaceAUuid == sharedWorkspaceYesAUuid -%}
      {%- set sharedHowPath = join([sharedWorkspacePath, sharedWorkspaceYesAUuid, sharedHowQUuid], ".") -%}
      {%- set sharedHowAUuid = repliesMap[sharedHowPath].value.value -%}
      {%- if sharedHowAUuid == sharedHowExploreAUuid -%}
        {%- set sharedHowChangePath = join([sharedHowPath, sharedHowExploreAUuid, sharedHowChangeQUuid], ".") -%}
        {%- set sharedHowChangeAUuid = repliesMap[sharedHowChangePath].value.value -%}
        {%- if sharedHowChangeAUuid == sharedHowChangeSameAUuid -%}
          <p>Storage needs will be the same during the whole project.</p>
        {%- elif sharedHowChangeAUuid == sharedHowChangeLargeAUuid -%}
          <p>Storage needs are large at the beginning and will be reduced later.</p>
        {%- elif sharedHowChangeAUuid == sharedHowChangeSmallAUuid -%}
          <p>Storage needs are small at the beginning and will grow later.</p>
        {%- elif sharedHowChangeAUuid == sharedHowChangeMiddleAUuid -%}
          <p>Storage needs are largest in the middle of the project.</p>
        {%- endif -%}
      {%- endif -%}
      {%- set sharedReliablePath = join([sharedWorkspacePath, sharedWorkspaceYesAUuid, sharedReliableQUuid], ".") -%}
      {%- set sharedReliableAUuid = repliesMap[sharedReliablePath].value.value -%}
      {%- if sharedReliableAUuid == sharedReliableExploreAUuid -%}
        {%- set sharedReliablePreventLossPath = join([sharedReliablePath, sharedReliableExploreAUuid, sharedReliablePreventLossQUuid], ".") -%}
        {%- set sharedReliablePreventLossAUuid = repliesMap[sharedReliablePreventLossPath].value.value -%}
        {%- set sharedReliableBackupPath = join([sharedReliablePath, sharedReliableExploreAUuid, sharedReliableBackupQUuid], ".") -%}
        {%- set sharedReliableBackupAUuid = repliesMap[sharedReliableBackupPath].value.value -%}
        {%- if sharedReliablePreventLossAUuid || sharedReliableBackupAUuid -%}
          <p>
          {%- if sharedReliablePreventLossAUuid == sharedReliablePreventLossSufficientAUuid %}
            The work space provides sufficient guarantees in terms of preventing a total loss of data.
          {%- elif sharedReliablePreventLossAUuid == sharedReliablePreventLossStoredAUuid %}
            All essential data is also stored elsewhere to prevent a total loss of data.
          {%- endif -%}
          {%- if sharedReliableBackupAUuid == sharedReliableBackupCopyLeftAUuid %}
            Backup of project data that is not in the work space is left to the project participants.
          {%- elif sharedReliableBackupAUuid == sharedReliableBackupCopyNoDataAUuid %}
            Data is stored only in the work space, therefore additional backup copies of files outside work space are necessary.</p>
          {%- elif sharedReliableBackupAUuid == sharedReliableBackupCopyAllSomewhereAUuid %}
            All project data stored outside of the working area will be adequately backed up.
          {%- elif sharedReliableBackupAUuid == sharedReliableBackupCopyBackupsAUuid %}
            We will make (automated) backups of all data stored outside of the working area.
          {%- endif -%}
          </p>
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  </div>
  {%- endscope -%}
</div>
