<div id="q-access-security" class="question">
  <h3>7. How will you manage access and security?</h3>
  {%- scope -%}
  <div class="answer">
    {%- set risksPathPrefix = join([processingCUuid, risksQUuid, risksExploreAUuid], ".") -%}
    {%- set sharedWorkspacePrefix = join([processingCUuid, sharedWorkspaceQUuid, sharedWorkspaceYesAUuid], ".") -%}
    {# Basic risks #}
    {%- set risksStoreLabPath = join([risksPathPrefix, risksStoreLabQUuid], ".") -%}
    {%- set risksStoreLabAUuid = repliesMap[risksStoreLabPath].value.value -%}
    {%- set risksCarryHomePath = join([risksPathPrefix, risksCarryHomeQUuid], ".") -%}
    {%- set risksCarryHomeAUuid = repliesMap[risksCarryHomePath].value.value -%}
    {%- set risksCarryHomeEncPath = join([risksCarryHomePath, risksCarryHomeYesAUuid, risksCarryHomeEncQUuid], ".") -%}
    {%- set risksCarryHomeEncAUuid = repliesMap[risksCarryHomeEncPath].value.value -%}
    {%- set risksCertificationsPath = join([risksPathPrefix, risksCertificationsQUuid], ".") -%}
    {%- set risksCertificationsAUuid = repliesMap[risksCertificationsPath].value.value -%}
    {%- set risksHttpsPath = join([risksPathPrefix, risksHttpsQUuid], ".") -%}
    {%- set risksHttpsAUuid = repliesMap[risksHttpsPath].value.value -%}
    {%- set risksInstructedPath = join([risksPathPrefix, risksInstructedQUuid], ".") -%}
    {%- set risksInstructedAUuid = repliesMap[risksInstructedPath].value.value -%}
    {%- if (risksStoreLabAUuid == risksStoreLabNoAUuid) || (risksCarryHomeAUuid == risksCarryHomeNoAUuid) || (risksCarryHomeAUuid == risksCarryHomeYesAUuid && risksCarryHomeEncAUuid == risksCarryHomeEncYesAUuid) || (risksCertificationsAUuid == risksCertificationsYesAUuid) || (risksHttpsAUuid == risksHttpsYesAUuid) || (risksInstructedAUuid == risksInstructedYesAUuid) %}
      <p>
        {%- if risksStoreLabAUuid == risksStoreLabNoAUuid %}
          Project members will not store data or software on computers in the lab or external hard drives connected to those computers.
        {%- endif -%}
        {%- if risksCarryHomeAUuid == risksCarryHomeNoAUuid %}
          {%- if risksStoreLabAUuid == risksStoreLabNoAUuid -%}They{%- else -%}Project members{%- endif %} will not carry data with them (e.g. on laptops, USB sticks, or other external media).
        {%- elif risksCarryHomeEncAUuid == risksCarryHomeEncYesAUuid %}
          {%- if risksStoreLabAUuid == risksStoreLabNoAUuid -%}They{%- else -%}Project members{%- endif %} can carry data with them on encrypted data carriers and password-protected laptops.
        {%- endif -%}
        {%- if risksCertificationsAUuid == risksCertificationsYesAUuid %}
          All data centers where project data is stored carry sufficient certifications.
        {%- endif -%}
        {%- if risksHttpsAUuid == risksHttpsYesAUuid %}
          All project web services addressed via secure http (https://...).
        {%- endif -%}
        {%- if risksInstructedAUuid == risksInstructedYesAUuid %}
          Project members have been instructed about both generic and specific risks to the project.
        {%- endif -%}
      </p>
    {%- endif -%}
    {# Information loss, leak, and vandalism #}
    {%- set risksInfoLossPath = join([risksPathPrefix, risksInfoLossQUuid], ".") -%}
    {%- set risksInfoLossAUuid = repliesMap[risksInfoLossPath].value.value -%}
    {%- set risksInfoLeakPath = join([risksPathPrefix, risksInfoLeakQUuid], ".") -%}
    {%- set risksInfoLeakAUuid = repliesMap[risksInfoLeakPath].value.value -%}
    {%- set risksInfoVandalismPath = join([risksPathPrefix, risksInfoVandalismQUuid], ".") -%}
    {%- set risksInfoVandalismAUuid = repliesMap[risksInfoVandalismPath].value.value -%}
    {%- set risksInfoLossTexts = {
      risksInfoLossSmallAUuid: "The possible impact to the project or organization if information is lost is small.",
      risksInfoLossLowAUuid: "The risk of information loss in the project or organization is acceptably low.",
      risksInfoLossWillAUuid: "We will mitigate information loss risk for the project or organization."
    } -%}
    {%- set risksInfoLeakTexts = {
      risksInfoLeakSmallAUuid: "The possible impact to the project or organization if information is leaked is small.",
      risksInfoLeakLowAUuid: "The risk of information leak in the project or organization is acceptably low.",
      risksInfoLeakWillAUuid: "We will mitigate information leak risk for the project or organization."
    } -%}
    {%- set risksInfoVandalismTexts = {
      risksInfoVandalismSmallAUuid: "The possible impact to the project or organization if information is vandalised is small.",
      risksInfoVandalismLowAUuid: "The risk of information vandalism in the project or organization is acceptably low.",
      risksInfoVandalismWillAUuid: "We will mitigate information vandalism risk for the project or organization."
    } -%}
    {% set risksInfoXText = join([
      risksInfoLossTexts[risksInfoLossAUuid],
      risksInfoLeakTexts[risksInfoLeakAUuid],
      risksInfoVandalismTexts[risksInfoVandalismAUuid]
    ], " ") %}
    {%- if length(risksInfoXText) > 0 -%}
      <p>{{ risksInfoXText }}</p>
    {%- endif -%}
    {# Personal data #}
    {%- set risksPersonalDataPath = join([risksPathPrefix, risksPersonalDataQUuid], ".") -%}
    {%- set risksPersonalDataAUuid = repliesMap[risksPersonalDataPath].value.value -%}
    {%- if risksPersonalDataAUuid == risksPersonalDataNotUsingAUuid -%}
      <p>We are not using any personal information.</p>
    {%- elif risksPersonalDataAUuid == risksPersonalDataPseudoAUuid -%}
      <p>
        All personal information will be processed in pseudonymized form only.
        {%- set risksPseudonymizationPath = join([risksPersonalDataPath, risksPersonalDataPseudoAUuid, risksPseudonymizationQUuid], ".") -%}
        {%- set risksPseudonymizationAUuid = repliesMap[risksPseudonymizationPath].value.value -%}
        {%- if risksPseudonymizationAUuid == risksPseudonymizationInsideAUuid %}
          We pseudonymize inside the project, only limited people can access the keys.
        {%- elif risksPseudonymizationAUuid == risksPseudonymizationPartyAUuid %}
          Pseudonymization is handled by an independent party in order to allow data coupling.
        {%- elif risksPseudonymizationAUuid == risksPseudonymizationAnotherAUuid -%}
          {%- set risksPseudonymizationAnotherQUuid = join([risksPseudonymizationPath, risksPseudonymizationAnotherAUuid, risksPseudonymizationAnotherQUuid], ".") -%}
          {%- set risksPseudonymizationAnother = repliesMap[risksPseudonymizationAnotherQUuid].value.value %}
          We have a specific way of pseudonymization{{ risksPseudonymizationAnother ? ": " ~ risksPseudonymizationAnother : "" }}{{ endswith(risksPseudonymizationAnother, ".") ? "" : "." }}
        {%- endif -%}
      </p>
    {%- elif risksPersonalDataAUuid == risksPersonalDataAnonymousAUuid -%}
      <p>All personal data will be collected anonymously.</p>
    {%- elif risksPersonalDataAUuid == risksPersonalDataAnonymizedAUuid -%}
      <p>All personal data will be anonymized as early as possible.</p>
    {%- endif -%}
    {# Access control in shared workspace #}
    {%- set sharedAccessControlPath = join([sharedWorkspacePrefix, sharedAccessControlQUuid], ".") -%}
    {%- set sharedAccessControlAUuid = repliesMap[sharedAccessControlPath].value.value -%}
    {%- if sharedAccessControlAUuid == sharedAccessControlMembersRWAUuid -%}
      <p>Only all project members have read/write access to the data.</p>
    {%- elif sharedAccessControlAUuid == sharedAccessControlInstituteRAUuid -%}
      <p>Anyone in the institute has read access to the data; all project members have read/write access.</p>
    {%- elif sharedAccessControlAUuid == sharedAccessControlMembersRAUuid -%}
      <p>Only project members will have read access; only selected project members will be able to write data.</p>
    {%- elif sharedAccessControlAUuid == sharedAccessControlMembersRequestAUuid -%}
      <p>Anyone in the institute can read data, only project members can request write access.</p>
    {%- endif -%}
  </div>
  {%- endscope -%}
</div>
