<div id="q-which-longterm" class="question">
  <h3>Which data are of long-term value and should be retained, shared, and/or preserved?</h3>
  {%- scope -%}
  <div class="answer">
    {# Published datasets #}
    {%- set publishedDataPath = join([preservingCUuid, publishedDataQUuid], ".") -%}
    {%- set publishedDataCount = repliesMap[publishedDataPath].value.value -%}
    {%- if publishedDataCount && publishedDataCount > 0 -%}
      <p>
      We plan to publish the following datasets:
      <ul>
      {%- for i in range(publishedDataCount-1) -%}
        {%- set pathPrefix = join([publishedDataPath, i], ".") -%}
        {%- set publishedDataName = repliesMap[join([pathPrefix, publishedDataNameQUuid], ".")].value.value -%}
        <li>
          <strong>{{ publishedDataName ? publishedDataName : "(no name given)" }}</strong>
          {# How long will be stored + Metadata FAIRness #}
          {%- set publishedDataHowLongPath = join([pathPrefix, publishedDataHowLongQUuid], ".") -%}
          {%- set publishedDataHowLongAUuid = repliesMap[publishedDataHowLongPath].value.value -%}
          {%- set publishedDataMetadataPersistentPath = join([pathPrefix, publishedDataMetadataPersistentQUuid], ".") -%}
          {%- set publishedDataMetadataPersistentAUuid = repliesMap[publishedDataMetadataPersistentPath].value.value -%}
          {%- if publishedDataMetadataPersistentPath || (publishedDataMetadataPersistentAUuid == publishedDataMetadataPersistentYesAUuid) %}
            <span class="separator">&ndash;</span> 
            {% if publishedDataHowLongAUuid == publishedDataHowLongTechnicalAUuid -%}
              This data set will be kept available as long as technically possible.
            {%- elif publishedDataHowLongAUuid == publishedDataHowLongLegalAUuid -%}
              This data set will be kept available until it needs to be deleted for legal reasons.
            {%- elif publishedDataHowLongAUuid == publishedDataHowLongFixedAUuid -%}
              {%- set publishedDataHowLongFixedPath = join([publishedDataHowLongPath, publishedDataHowLongFixedAUuid, publishedDataHowLongFixedQUuid], ".") -%}
              {%- set publishedDataHowLongFixed = repliesMap[publishedDataHowLongFixedPath].value.value -%}
              This data set will be kept available for a fixed period (prepaid){{ publishedDataHowLongFixed ? " of: " ~ publishedDataHowLongFixed : "" }}{{ endswith(publishedDataHowLongFixed, ".") ? "" : "." }}
            {%- endif -%}
            {%- if publishedDataMetadataPersistentAUuid == publishedDataMetadataPersistentYesAUuid %}
              The metadata will be available even when the data no longer exists.
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}
      </ul>
      </p>
    {%- endif -%}
  </div>
  {%- endscope -%}
</div>
