<div id="q-restrictions" class="question">
  <h3>Are any restrictions on data sharing required?</h3>
  {%- scope -%}
  <div class="answer">
    <p>Ethical and legal restrictions are documented under Section C. We have used the Data Stewardship Wizard, which made us aware of options to minimize the restrictions.</p>

    {%- set openImmediatelyPath = join([accessCUuid, openImmediatelyQUuid], ".") -%}
    {%- set openImmediatelyAUuid = repliesMap[openImmediatelyPath].value.value -%}
    {%- if openImmediatelyAUuid == openImmediatelyYesAUuid -%}
      <p>No data sharing agreement will be required.</p>
    {%- elif openImmediatelyAUuid == openImmediatelyNoAUuid -%}
      {%- set pathPrefix = join([openImmediatelyPath, openImmediatelyNoAUuid], ".") -%}

      {%- set notOpenLimitedEmbargoPath = join([pathPrefix, notOpenLimitedEmbargoQUuid], ".") -%}
      {%- set notOpenLimitedEmbargoAUuid = repliesMap[notOpenLimitedEmbargoPath].value.value -%}
      {%- if notOpenLimitedEmbargoAUuid == notOpenLimitedEmbargoYesAUuid -%}
        {%- set notOpenLimitedEmbargoPeriodPath = join([notOpenLimitedEmbargoPath, notOpenLimitedEmbargoYesAUuid, notOpenLimitedEmbargoPeriodQUuid], ".") -%}
        {%- set notOpenLimitedEmbargoPeriod = repliesMap[notOpenLimitedEmbargoPeriodPath].value.value -%}
        <p>
          Data cannot be completely open due to legal reasons. But data that is not legally restrained will be released after a fixed time period.
          {%- if notOpenLimitedEmbargoPeriod %}
            The embargo period will be {{ notOpenLimitedEmbargoPeriod }}.
          {%- endif %}
        </p>
      {%- endif -%}

      {%- set legalReasonsAuthenticatedPath = join([pathPrefix, notOpenLegalReasonsQUuid, notOpenLegalReasonsYesAUuid, legalReasonsAuthenticatedQUuid], ".") -%}
      {%- set legalReasonsAuthenticatedAUuid = repliesMap[legalReasonsAuthenticatedPath].value.value -%}
      {%- if legalReasonsAuthenticatedAUuid == legalReasonsAuthenticatedYesAUuid -%}
        <p>
          A data sharing agreement will be required.
          {%- set legalReasonsAuthorizePath = join([legalReasonsAuthenticatedPath, legalReasonsAuthenticatedYesAUuid, legalReasonsAuthorizeQUuid], ".") -%}
          {%- set legalReasonsAuthorizeAUuid = repliesMap[legalReasonsAuthorizePath].value.value -%}
          {%- if legalReasonsAuthorizeAUuid == legalReasonsAuthorizeMemberAUuid %}
            People can apply to one of the project members.
          {%- elif legalReasonsAuthorizeAUuid == legalReasonsAuthorizeNewCommitteeAUuid %}
            People can apply to the data access committee that we will set up.
          {%- elif legalReasonsAuthorizeAUuid == legalReasonsAuthorizeOldCommitteeAUuid %}
            {%- set legalReasonsAuthorizeOldCommitteePath = join([legalReasonsAuthorizePath, legalReasonsAuthorizeOldCommitteeAUuid, legalReasonsAuthorizeOldCommitteeQUuid], ".") -%}
            {%- set legalReasonsAuthorizeOldCommittee = repliesMap[legalReasonsAuthorizeOldCommitteePath].value.value -%}
            {%- if legalReasonsAuthorizeOldCommittee %}
              People can apply to the <em>{{ legalReasonsAuthorizeOldCommittee }}</em> data access committee.
            {%- else -%}
              People can apply to an existing data access committee.
            {%- endif -%}
          {%- elif legalReasonsAuthorizeAUuid == legalReasonsAuthorizeOtherAUuid %}
            {%- set legalReasonsAuthorizeOtherPath = join([legalReasonsAuthorizePath, legalReasonsAuthorizeOtherAUuid, legalReasonsAuthorizeOtherQUuid], ".") -%}
            {%- set legalReasonsAuthorizeOther = repliesMap[legalReasonsAuthorizeOtherPath].value.value %}
            For the authorization of potential users, we will make special arrangements{{ legalReasonsAuthorizeOther ? ": " : "" }}{{ legalReasonsAuthorizeOther }}{{ endswith(legalReasonsAuthorizeOther, ".") ? "" : "." }}
          {%- endif -%}
        </p>
      {%- endif -%}
    {%- endif -%}
  </div>
  {%- endscope -%}
</div>
