<div id="q-dm-responsible" class="question">
  <h3>12. Who will be responsible for data management?</h3>
  {%- scope -%}
  <div class="answer">
    {# TODO: Public questionnaires does not have "dmp.createdBy" filled #}
    {%- if dmp.createdBy %}
      <p>{{dmp.createdBy.name}} {{dmp.createdBy.surname}} is responsible for implementing the DMP, and ensuring it is reviewed and revised.</p>
    {%- endif -%}

    {%- set contributorsPath = join([adminDetailsCUuid, contributorsQUuid], ".") -%}
    {%- set contributorsReply = repliesMap[contributorsPath] -%}
    {%- if contributorsReply -%}
      {%- macro contributorsResponsibility(nContributors, contributorRoleAUuid, responsibility) -%}
        {%- set names = filter(map(
            filter(
              range(nContributors - 1),
              (i) -> repliesMap[join([contributorsPath, i, contributorRoleQUuid], ".")].value.value == contributorRoleAUuid
            ),
            (i) -> repliesMap[
              join([contributorsPath, i, contributorNameQUuid], ".")].value.value
          ), (name) -> length(name) > 0)
        -%}
        {%- set nNames = length(names) -%}
        {%- if nNames > 0 -%}
          <p>
            {%- if nNames > 1 -%}
              {{ slice(names, 0, nNames-1)|join(", ") }}, and {{ slice(names, -1) }} are {{ responsibility }}
            {%- else -%}
              {{ names[0] }} is {{ responsibility }}
            {%- endif %}
          </p>
        {%- endif -%}
      {%- endmacro -%}

      {%- set nContributors = contributorsReply.value.value -%}
      {# Data curators #}
      {{ contributorsResponsibility(nContributors, contributorRoleDataCuratorAUuid, "responsible for reviewing, enhancing, cleaning, or standardizing metadata and the associated data submitted for storage, use and maintenance within a data centre or repository.") }}
      {# Data collectors #}
      {{ contributorsResponsibility(nContributors, contributorRoleDataCollectorAUuid, "responsible for finding, gathering, and collecting data.") }}
      {# Data managers #}
      {{ contributorsResponsibility(nContributors, contributorRoleDataManagerAUuid, "responsible for maintaining the finished resource.") }}
      {# Distributors #}
      {{ contributorsResponsibility(nContributors, contributorRoleDistributorAUuid, "responsible for generating/disseminating copies of the resouce in either electronic or print form.") }}
    {%- endif -%}
  </div>
  {%- endscope -%}
</div>
