<div id="q-required-resources" class="question">
  <h3>13. What resources will you require to deliver your plan?</h3>
  {%- scope -%}
  <div class="answer">
    {# additional expertise #}
    {%- set expertisePath = join([adminDetailsCUuid, additionalExpertiseQUuid], ".") -%}
    {%- set expertiseAUuid = repliesMap[expertisePath].value.value -%}
    {%- if expertiseAUuid == additionalExpertiseNoAUuid -%}
      <p>To execute the DMP, no additional specialist expertise is required.</p>
    {%- elif expertiseAUuid == additionalExpertiseYesTrainAUuid -%}
      <p>
        To execute the DMP, additional specialist expertise is required. We will be training existing staff.
        {%- set expertiseTrainPath = join([expertisePath, additionalExpertiseYesTrainAUuid, additionalExpertiseYesTrainTrainingQUuid], ".") -%}
        {%- set expertiseTrainText = repliesMap[expertiseTrainPath].value.value -%}
        {%- if additionalExpertiseTrainText %}
          The training will be: {{ expertiseTrainText }}{{ endswith(expertiseTrainText, ".") ? "" : "." }}
        {%- endif -%}
      </p>
    {%- elif expertiseAUuid == additionalExpertiseYesHireAUuid -%}
      <p>
        To execute the DMP, additional specialist expertise is required. We will be hiring new people with additional expertise.
        {%- set expertiseHirePath = join([expertisePath, additionalExpertiseYesHireAUuid, additionalExpertiseYesHireExpertiseQUuid], ".") -%}
        {%- set expertiseHireText = repliesMap[expertiseHirePath].value.value -%}
        {%- if expertiseHireText %}
          The required expertise from new people is: {{ expertiseHireText }}{{ endswith(expertiseHireText, ".") ? "" : "." }}
        {%- endif -%}
      </p>
    {%- endif -%}
    {# additional hw/sw #}
    {%- set additionalHWSWPath = join([adminDetailsCUuid, additionalHWSWQUuid], ".") -%}
    {%- set additionalHWSWAUuid = repliesMap[additionalHWSWPath].value.value -%}
    {%- if additionalHWSWAUuid == additionalHWSWNoAUuid -%}
      <p>We do not require any hardware or software in addition to what is usually available in the institute.</p>
    {%- elif additionalHWSWAUuid == additionalHWSWYesAUuid -%}
      {%- set additionalHWSWWhatPath = join([additionalHWSWPath, additionalHWSWYesAUuid, additionalHWSWYesWhatQUuid], ".") -%}
      {%- set additionalHWSWWhat = repliesMap[additionalHWSWWhatPath].value.value -%}
      {%- if additionalHWSWWhat -%}
        <p>We require the following hardware or software in addition to what is usually available in the institute: {{ additionalHWSWWhat }}{{ endswith(additionalHWSWWhat, ".") ? "" : "." }}</p>
      {%- else -%}
        <p>We require hardware or software in addition to what is usually available in the institute.</p>
      {%- endif -%}
    {%- endif -%}
    {# charges #}
    <p>Charges applied by data repositories (if any) are mentioned already in Section E, Question 9.</p>
  </div>
  {%- endscope -%}
</div>
