<div id="dmp-content">
  <section id="sec-data-collection" class="dmp-section">
    <h2>Section 1: Data description and collection or re-use of existing data</h2>

    {% include "src/questions/01-how-data.html.j2" with context %}
    {% include "src/questions/02-what-data.html.j2" with context %}
  </section>
  
  <section id="sec-docs-metadata" class="dmp-section">
    <h2>Section 2: Documentation and data quality</h2>

    {% include "src/questions/03-docs-metadata.html.j2" with context %}
  </section>

  <section id="sec-storage-backup" class="dmp-section">
    <h2>Section 3: Storage and backup during research process</h2>

    {% include "src/questions/06-store-backup.html.j2" with context %}
    {% include "src/questions/07-access-security.html.j2" with context %}
  </section>

  <section id="sec-ethics-legal" class="dmp-section">
    <h2>Section 4: Legal and ethical requirements, codes of conduct</h2>

    {% include "src/questions/04-ethical-issues.html.j2" with context %}
    {% include "src/questions/05-copyright-ipr.html.j2" with context %}
  </section>

  <section id="sec-sharing-preservation" class="dmp-section">
    <h2>Section 5: Data sharing and long-term preservation</h2>

    {% include "src/questions/08-which-longterm.html.j2" with context %}
    {% include "src/questions/09-longterm-plan.html.j2" with context %}
    {% include "src/questions/10-how-share.html.j2" with context %}
    {% include "src/questions/11-restrictions.html.j2" with context %}
  </section>
  
  <section id="sec-responsibilities-resources" class="dmp-section">
    <h2>Section 6: Data management responsibilities and resources</h2>

    {% include "src/questions/12-dm-responsible.html.j2" with context %}
    {% include "src/questions/13-required-resources.html.j2" with context %}
  </section>
</div>
