<header>
  <p class="dmp"></p>
  <h1>
    {{ ctx.questionnaire.name }}
  </h1>
  <div class="dmp-info">
    <dl>
      {%- set contributorsPath = [uuids.adminDetailsCUuid, uuids.contributorsQUuid]|join(".") -%}
      {%- set contributorsItems = repliesMap[contributorsPath]|reply_items -%}
      {%- if contributorsItems|length > 0 -%}
        {%- set contacts = [] -%}
        {%- set creators = [] -%}
        {%- for i in contributorsItems -%}
          {%- set pathPrefix = [contributorsPath, i]|join(".") ~ "." -%}
          {%- set contributorRoles = repliesMap[pathPrefix ~ uuids.contributorRoleQUuid]|reply_items -%}
          {%- if uuids.contributorRoleContactPersonAUuid in contributorRoles -%}
            {% do contacts.append(pathPrefix)  %}
          {%- endif -%}
          {%- if uuids.contributorRoleCreatorOfDMPAUuid in contributorRoles -%}
            {% do creators.append(pathPrefix)  %}
          {%- endif -%}
        {%- endfor -%}
        {%- set nContacts = contacts|length -%}
        <dt>Contact {{ "people" if (nContacts > 1) else "person" }}</dt>
        <dd>
          {%- if nContacts > 0 -%}
            <ul>
              {%- for pathPrefix in contacts -%}
                <li>
                  {%- set contributorName = repliesMap[pathPrefix ~ uuids.contributorNameQUuid]|reply_str_value -%}
                  {%- set contributorEmail = repliesMap[pathPrefix ~ uuids.contributorEmailQUuid]|reply_str_value -%}
                  {%- set contributorOrcid = repliesMap[pathPrefix ~ uuids.contributorOrcidQUuid] -%}
                  {%- set contributorAffiliationReply = repliesMap[pathPrefix ~ uuids.contributorAffiliationQUuid] -%}

                  {%- if contributorName -%}
                    <span class="contact-name">{{ contributorName }}</span>
                  {%- else -%}
                    <span class="contact-name missing">(name not given)</span>
                  {%- endif -%}
                  {%- if contributorEmail and contributorOrcid %}
                    <br>{{ macros.formatEmail(contributorEmail) }}, {{ macros.formatOrcid(contributorOrcid) }}
                  {%- elif contributorEmail %}
                    <br>{{ macros.formatEmail(contributorEmail) }}
                  {%- elif contributorOrcid %}
                    <br>{{ macros.formatOrcid(contributorOrcid) }}
                  {%- endif -%}
                  {%- if contributorAffiliationReply %}
                    <br>{{ macros.integrationValue(contributorAffiliationReply) }}
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {%- else -%}
            <span class="empty-value">There is no contact person specified yet</span>
          {%- endif -%}
        </dd>
      {%- endif -%}

      <dt>Based on</dt>
      <dd>{{ ctx.package.name }}, {{ ctx.package.version }} (<span class="package-id"><span class="organization-id">{{ ctx.package.organizationId }}</span>:<span class="km-id">{{ ctx.package.kmId }}</span>:<span class="version">{{ ctx.package.version }}</span></span>)</dd>

      {%- if ctx.phaseUuid -%}
      <dt>Project phase</dt>
      <dd>{{ km.entities.phases[ctx.phaseUuid].title }}</dd>
      {%- endif -%}

      {%- set nCreators = creators|length -%}
      <dt>Created by</dt>
        <dd>
          {%- if nCreators > 0 -%}
            <ul>
                {%- for pathPrefix in creators -%}
                  <li>
                    {%- set creatorName = repliesMap[pathPrefix ~ uuids.contributorNameQUuid]|reply_str_value -%}
                    {%- set creatorEmail = repliesMap[pathPrefix ~ uuids.contributorEmailQUuid]|reply_str_value -%}
                    {%- set creatorOrcid = repliesMap[pathPrefix ~ uuids.contributorOrcidQUuid] -%}
                    {%- set creatorAffiliationReply = repliesMap[pathPrefix ~ uuids.contributorAffiliationQUuid] -%}

                    {%- if creatorName -%}
                      <span class="contact-name">{{ creatorName }}</span>
                    {%- else -%}
                      <span class="contact-name missing">(name not given)</span>
                    {%- endif -%}
                    {%- if creatorEmail and creatorOrcid -%}
                      <br>{{ macros.formatEmail(creatorEmail) }}, {{ macros.formatOrcid(creatorOrcid) }}
                    {%- elif creatorEmail -%}
                      <br>{{ macros.formatEmail(creatorEmail) }}
                    {%- elif creatorOrcid -%}
                      <br>{{ macros.formatOrcid(creatorOrcid) }}
                    {%- endif -%}
                    {%- if creatorAffiliationReply -%}
                      <br>{{ macros.integrationValue(creatorAffiliationReply) }}
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            {%- else -%}
              <span class="empty-value">There is no creator specified yet</span>
          {%- endif -%}
        </dd>
      

      {% for version in ctx.questionnaire.versions if version.uuid == ctx.questionnaire.versionUuid %}
      <dt>Version</dt>
      <dd>{{version.name}} ({{ version.createdAt|datetime_format("%d %b %Y") }})</dd>
      {% endfor %}

      <dt>Generated on</dt>
      <dd>{{ ctx.document.createdAt|datetime_format("%d %b %Y") }}</dd>
    </dl>
    <p class="note">
      Data Management Plan created in {{ globals.fullName }} &laquo;<a href="{{ globals.linkUrl }}" target="_blank">{{ globals.link }}</a>&raquo;
    </p>
  </div>
</header>
